USE [SANKHYA_PRODUCAO]
GO
/****** Object:  Trigger [sankhya].[TRG_UPD_TGFCAB_ASSINATURA]    Script Date: 05/05/2017 19:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*	=============================================
	Author:			RODRIGO LACALENDOLA
	Create date:	13/03/2014
	Description:	Cria nova nota (TGFCAB) para produtos de assinatura de revista

	Change date:	13/03/2017
	Description:	Trigger desativada pois o processo de assinatura foi congelado pela empresa
	=============================================*/
ALTER TRIGGER [sankhya].[TRG_UPD_TGFCAB_ASSINATURA] ON [sankhya].[TGFCAB] AFTER UPDATE
AS 
DECLARE

/* Variáveis da TGFCAB */
@NUNOTA INT,
@AD_STATUSPGTO VARCHAR(30),
@CODTIPOPER INT,
@P_NUNOTA INT,
@P_ULTIMO_CODIGO INT,
@CODEMP INT,
@NUMNOTA INT,
@SERIENOTA VARCHAR(1),
@CODCENCUS INT,
@HRMOV VARCHAR(12),
@CODPARC INT,
@CODTIPVENDA INT,
@AD_PEDORIGINAL INT,
@CODVEND INT,
@CODUSU INT,
@TIPFRETE VARCHAR(1),
@CIF_FOB  VARCHAR(1),
@CODNAT INT,
@CODPROJ INT,
@ISSRETIDO VARCHAR(1),
@IRFRETIDO VARCHAR(1),
@OBSERVACAO VARCHAR(MAX),
@AD_ID INT,

/* Variáveis da TGFITE */
@CODPROD INT,
@VLRUNIT DECIMAL,
@VLRTOT DECIMAL,
@QTDNEG DECIMAL,
@SEQUENCIA INT,
@SEQUENCIAORIG INT,
@NUTAB INT,
@CODLOCALORIG INT,
@CONTROLE VARCHAR(1),
@CODCFO INT,
@QTDENTREGUE DECIMAL,
@QTDCONFERIDA DECIMAL,
@VLRCUS DECIMAL,
@BASEICMS DECIMAL,
@VLRICMS DECIMAL,
@VLRDESC DECIMAL,
@BASESUBSTIT DECIMAL,
@VLRSUBST DECIMAL,
@ALIQICMS DECIMAL,
@PENDENTE VARCHAR(1),
@CODVOL VARCHAR(2), 
@RESERVA VARCHAR(2),
@ATUALIZAESTOQUE VARCHAR(1),
@STATUSNOTA_ITE VARCHAR(1),
@CODVEND_ITE INT,
@PERCDESC DECIMAL,
@CODUSU_ITE INT,
@CUSTO DECIMAL,
@CODPARCEXEC INT,
@SUMVLRTOT DECIMAL,
@ULTIMASEQUENCIA INT,




/*Variáveis da TGFPRO */
@CODGRUPOPROD INT,



/*Variáveis da TGFVAR */
@SEQUENCIA_VAR INT

BEGIN
	RETURN
END



BEGIN
	SET NOCOUNT ON;
	
	/* Obtém status do pagamento */
	SELECT @NUNOTA = NUNOTA,
		   @CODTIPOPER = CODTIPOPER,
		   @AD_STATUSPGTO = AD_STATUSPGTO
	FROM inserted
	
	PRINT @NUNOTA
	PRINT @CODTIPOPER
	PRINT @AD_STATUSPGTO
	
	/* 1. Condição: verifica se o pedido foi pago e as tops de origem */
	IF (@AD_STATUSPGTO = 'E' and @CODTIPOPER IN (500,501,502,503,504,515))
	BEGIN
	
		/* 2. Condição: verifica se tem algum item de assinatura */
		IF EXISTS (SELECT I.CODPROD FROM inserted
		INNER JOIN sankhya.TGFITE I on (inserted.NUNOTA = i.NUNOTA)
		INNER JOIN sankhya.TGFPRO P on (I.CODPROD = P.CODPROD)
		where p.CODGRUPOPROD BETWEEN 500000 AND 599999 AND I.QTDENTREGUE < I.QTDNEG AND I.USOPROD = 'R')
		BEGIN
		
			/* Obtém dados do pedido */
			SELECT @CODPARC = CODPARC,
				   @CODEMP = CODEMP,
				   @CODTIPVENDA = CODTIPVENDA,
				   @AD_PEDORIGINAL = AD_PEDORIGINAL,
				   @NUMNOTA = NUMNOTA,
				   @SERIENOTA = SERIENOTA,
				   @CODCENCUS = CODCENCUS,
				   @CODVEND = CODVEND,
				   @CODUSU = CODUSU,
				   @TIPFRETE = TIPFRETE,
				   @CIF_FOB = CIF_FOB,
				   @CODNAT = CODNAT,
				   @CODPROJ = CODPROJ,
				   @ISSRETIDO = ISSRETIDO,
				   @IRFRETIDO = IRFRETIDO,
				   @OBSERVACAO = OBSERVACAO,
				   @AD_ID = AD_ID
			FROM sankhya.TGFCAB
			WHERE NUNOTA = @NUNOTA
		
		
			/* Busca ultimo número para usar no NUNOTA */
            SELECT @P_ULTIMO_CODIGO = ULTCOD FROM sankhya.TGFNUM WHERE ARQUIVO = 'TGFCAB';
            SET @P_NUNOTA = @P_ULTIMO_CODIGO + 1;
            UPDATE sankhya.tgfnum SET ULTCOD = @P_NUNOTA WHERE ARQUIVO = 'TGFCAB' AND ULTCOD = @P_ULTIMO_CODIGO; 
            
            /* Formata o horário da movimentação */
            SELECT @HRMOV = replace(convert(varchar, getdate(), 108),':','');
			PRINT @P_NUNOTA
			/* Cria o pedido na TGFCAB */
			INSERT INTO sankhya.TGFCAB (
            /*1*/nunota,codemp,numnota,serienota,codcencus,
            /*2*/dtneg, dtentsai,dtmov,hrmov,codempnegoc,
            /*3*/codparc,codtipoper,dhtipoper,CODTIPVENDA, DHTIPVENDA,
            /*4*/codvend,DTALTER,codusu,TIPFRETE,CIF_FOB,
            /*5*/CODNAT,CODPROJ,ISSRETIDO,IRFRETIDO,OBSERVACAO,
            /*6*/CODPARCDEST, VLRNOTA,
            /*7*/AD_STATUSPGTO, AD_ID,
            /*8*/AD_IDMOD, VLRFRETE, CODPARCTRANSP, AD_PEDORIGINAL
             ) VALUES (
             /*1*/@P_NUNOTA,@CODEMP,@NUMNOTA,@SERIENOTA ,@CODCENCUS,
             /*2*/CAST(SYSDATETIME() AS DATE),CAST(SYSDATETIME() AS DATE),CAST(SYSDATETIME() AS DATE), @HRMOV, @CODEMP,
             /*3*/@CODPARC,508,(SELECT MAX(DHALTER) FROM sankhya.TGFTOP WHERE CODTIPOPER = 508),@CODTIPVENDA,(SELECT MAX(DHALTER) FROM SANKHYA.TGFTPV WHERE CODTIPVENDA = @CODTIPVENDA),
             /*4*/@CODVEND,SYSDATETIME(),@CODUSU,@TIPFRETE,@CIF_FOB,
             /*5*/@CODNAT,@CODPROJ,@ISSRETIDO,@IRFRETIDO,@OBSERVACAO,
             /*6*/@CODPARC, 0.00,
             /*7*/@AD_STATUSPGTO, @AD_ID,
             /*8*/6, 0.00, 36024, @AD_PEDORIGINAL);  
			
			
			/* Adiciona um evento no sistema na TGFACT */
			INSERT INTO sankhya.TGFACT
			(NUNOTA,SEQUENCIA, DHOCOR, HRACT,CODUSU,REFERENCIA,OCORRENCIAS,DIGITADO)
			values
			(@P_NUNOTA, ISNULL((SELECT MAX(SEQUENCIA) FROM TGFACT WHERE NUNOTA = @P_NUNOTA),0)+1, CAST(SYSDATETIME() AS DATE), @HRMOV, 0, 'N', 'PEDIDO DE ASSINATURA GERADO AUTOMATICAMENTE','N')
			
							
			/* Cursor para percorrer todos os itens */
			DECLARE ITENSPEDIDO CURSOR
			FOR	(SELECT I.CODPROD,I.SEQUENCIA FROM inserted
				INNER JOIN sankhya.TGFITE I on (inserted.NUNOTA = i.NUNOTA)
				INNER JOIN sankhya.TGFPRO P on (I.CODPROD = P.CODPROD)
				where p.CODGRUPOPROD BETWEEN 500000 AND 599999
				AND I.QTDENTREGUE < I.QTDNEG)
			OPEN ITENSPEDIDO
			FETCH NEXT FROM ITENSPEDIDO
			INTO @CODPROD, @SEQUENCIAORIG
			WHILE @@FETCH_STATUS = 0
			BEGIN
				/* Obtém informações do item */
				SELECT 
					   @VLRUNIT = VLRUNIT,
					   @VLRTOT = VLRTOT,
					   @QTDNEG = QTDNEG,
					   @SEQUENCIA = SEQUENCIA,
					   @NUTAB = NUTAB,
					   @CODLOCALORIG = CODLOCALORIG,
					   @CONTROLE = CONTROLE,
					   @CODCFO = CODCFO,
					   @QTDENTREGUE = QTDENTREGUE,
					   @QTDCONFERIDA = QTDCONFERIDA,
					   @VLRCUS = VLRCUS,
					   @BASEICMS = BASEICMS,
					   @VLRICMS = VLRICMS,
					   @VLRDESC = VLRDESC,
					   @BASESUBSTIT = BASESUBSTIT,
					   @VLRSUBST = VLRSUBST,
					   @ALIQICMS = ALIQICMS,
					   @PENDENTE  = PENDENTE,
					   @CODVOL = CODVOL,
					   @ATUALIZAESTOQUE = ATUALESTOQUE,
					   @STATUSNOTA_ITE = STATUSNOTA,
					   @CODVEND_ITE = CODVEND,
					   @PERCDESC  = PERCDESC,
					   @CODUSU_ITE = CODUSU,
					   @CUSTO = CUSTO,
					   @CODPARCEXEC = CODPARCEXEC,
					   @RESERVA = RESERVA
				FROM sankhya.TGFITE
				WHERE NUNOTA = @NUNOTA AND CODPROD = @CODPROD AND SEQUENCIA = @SEQUENCIAORIG

				print @codprod
					IF @CODVOL != 'KT'
					BEGIN
					/*Inclui item no pedido*/
					INSERT INTO sankhya.TGFITE (
					/*1*/NUTAB, NUNOTA, SEQUENCIA, CODEMP, CODPROD,
					/*2*/CODLOCALORIG, CONTROLE, USOPROD, CODCFO,QTDNEG,
					/*3*/QTDENTREGUE, QTDCONFERIDA, VLRUNIT, VLRTOT, VLRCUS,
					/*4*/BASEIPI, VLRIPI, BASEICMS, VLRICMS, VLRDESC,
					/*5*/BASESUBSTIT, VLRSUBST, ALIQICMS, ALIQIPI, PENDENTE,
					/*6*/CODVOL,ATUALESTOQUE, RESERVA,
					/*7*/STATUSNOTA, CODVEND,
					/*8*/VLRREPRED, VLRDESCBONIF, PERCDESC,
					/*9*/CODPARCEXEC, CUSTO, CODUSU, DTALTER
					) VALUES (
					/*1*/@NUTAB, @P_NUNOTA, ISNULL((SELECT MAX(i.SEQUENCIA) FROM sankhya.TGFCAB c INNER JOIN sankhya.TGFITE i on (c.NUNOTA = i.nunota) where c.NUNOTA = @P_NUNOTA),0)+1, @CODEMP, @CODPROD,
					/*2*/@CODLOCALORIG, @CONTROLE, 'R', @CODCFO, @QTDNEG,
					/*3*/@QTDENTREGUE, @QTDCONFERIDA, @VLRUNIT, @VLRTOT, @VLRCUS,
					/*4*/0, 0, @BASEICMS, @VLRICMS, @VLRDESC,
					/*5*/@BASESUBSTIT, @VLRSUBST, @ALIQICMS, 0, @PENDENTE,
					/*6*/@CODVOL, @ATUALIZAESTOQUE, @RESERVA,
					/*7*/@STATUSNOTA_ITE, @CODVEND_ITE, 
					/*8*/0, 0, @PERCDESC,
					/*9*/@CODPARCEXEC, @CUSTO, @CODUSU_ITE, CAST(SYSDATETIME() AS DATE)
										  );
						
					PRINT @P_NUNOTA
					PRINT @SEQUENCIA
					PRINT @NUNOTA
					PRINT @SEQUENCIAORIG
				
				/* Inclui na TGFVAR */
				SELECT @SEQUENCIA_VAR = SEQUENCIA FROM sankhya.TGFITE where CODPROD = @CODPROD AND NUNOTA = @P_NUNOTA
				
				
					
					/* Inclui na TGFVAR */
					ALTER TABLE sankhya.TGFVAR DISABLE TRIGGER ALL;
					INSERT INTO SANKHYA.TGFVAR
					(NUNOTA
					,SEQUENCIA
					,NUNOTAORIG
					,SEQUENCIAORIG
					,QTDATENDIDA
					,STATUSNOTA)
					VALUES
					(@P_NUNOTA,
					@SEQUENCIA_VAR,
					@NUNOTA,
					@SEQUENCIAORIG,
					NULL,
					'A');
					ALTER TABLE sankhya.TGFVAR ENABLE TRIGGER ALL;
					END	
				PRINT 'INSERIU VAR \N'
				/* Marca na ITE original como não pendente */
				UPDATE sankhya.TGFITE SET
				PENDENTE = 'N',
				QTDENTREGUE = QTDNEG,
				QTDFAT = QTDNEG
				WHERE NUNOTA = @NUNOTA AND CODPROD = @CODPROD

			FETCH NEXT FROM ITENSPEDIDO
			INTO @CODPROD, @SEQUENCIAORIG    			
			END /*CURSOR*/
			CLOSE ITENSPEDIDO
			DEALLOCATE ITENSPEDIDO

			 /* Atualizando os valores do novo pedido */
				SELECT
				@SUMVLRTOT = SUM(VLRTOT)
				FROM sankhya.TGFITE
				WHERE NUNOTA = @P_NUNOTA	
				
				ALTER TABLE sankhya.TGFCAB DISABLE TRIGGER TRG_UPD_TGFCAB
				UPDATE sankhya.TGFCAB
			    SET VLRNOTA = @SUMVLRTOT,
					STATUSNOTA = 'L'
			    WHERE NUNOTA = @P_NUNOTA
			    ALTER TABLE sankhya.TGFCAB ENABLE TRIGGER TRG_UPD_TGFCAB

				
				
			
			
		END /*2. CONDIÇÃO*/
	END /*1. CONDIÇÃO*/
	
    

END
