USE [SANKHYA_PRODUCAO]
GO
/****** Object:  StoredProcedure [sankhya].[STP_CORRIGE_IMP_FRETE]    Script Date: 12/12/2017 16:04:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rodrigo Lacalendola
-- Create date: 2016-07-29
-- Description:	Corrige o rateio do frete para os itens que são tributados integralmente
-- =============================================

ALTER PROCEDURE [sankhya].[STP_CORRIGE_IMP_FRETE] (
       @P_CODUSU INT,                -- Código do usuário logado
       @P_IDSESSAO VARCHAR(4000),    -- Identificador da execução. Serve para buscar informações dos parâmetros/campos da execução.
       @P_QTDLINHAS INT,             -- Informa a quantidade de registros selecionados no momento da execução.
       @P_MENSAGEM VARCHAR(4000) OUT -- Caso seja passada uma mensagem aqui, ela será exibida como uma informação ao usuário.
) AS
DECLARE
       @NUNOTA INT,
	   @RETORNO INT,
	   @USER VARCHAR(50)
BEGIN

		SELECT @USER = NOMEUSU FROM sankhya.TSIUSU WHERE CODUSU = @P_CODUSU;

		-- Obtem o NUNOTA da nota selecionada no portal */
		SET @NUNOTA = SANKHYA.ACT_INT_FIELD(@P_IDSESSAO, 1, 'NUNOTA')
		PRINT CAST(@NUNOTA AS VARCHAR(7))

		-- CRIA UM CURSOR PARA CORRIGIR O VALOR ERRADO DOS KITS
		DECLARE @VLRTOTCORRETO FLOAT, @VLRUNITCORRETO FLOAT, @VLRTOTERRADO FLOAT, @VLRUNITERRADO FLOAT, @SEQUENCIA INT, @VLRFRETE FLOAT, @VLRNOTA FLOAT

		DECLARE KITS CURSOR FOR
			SELECT SEQUENCIA from sankhya.TGFCAB CAB WITH(NOLOCK)
				INNER JOIN sankhya.TGFITE ITE WITH(NOLOCK) ON ITE.NUNOTA = CAB.NUNOTA AND USOPROD = 'R' AND CODVOL = 'KT'
				LEFT JOIN (SELECT SEQUENCIAORIG, SUM(VLRTOT) AS VLR from sankhya.TGFCAB CAB WITH(NOLOCK)
							INNER JOIN sankhya.TGFITE ITE WITH(NOLOCK) ON ITE.NUNOTA = CAB.NUNOTA AND ITE.USOPROD = 'D'
							INNER JOIN sankhya.TGFVAR V WITH(NOLOCK) ON V.NUNOTA = ITE.NUNOTA AND V.SEQUENCIA = ITE.SEQUENCIA AND V.NUNOTAORIG = V.NUNOTA
							WHERE CAB.NUNOTA = @NUNOTA
							GROUP BY SEQUENCIAORIG) VLR ON VLR.SEQUENCIAORIG = ITE.SEQUENCIA
			WHERE CAB.NUNOTA = @NUNOTA
		OPEN KITS
		FETCH NEXT FROM KITS INTO @SEQUENCIA

		WHILE @@FETCH_STATUS = 0
		BEGIN

				-- OBTEM AS INFORMAÇÕES CORRETAS PARA CORRIGIR
				SELECT @VLRTOTCORRETO = sankhya.VALOR_DO_KIT_MAIS_BRINDES(ITE.NUNOTA,SEQUENCIA),
					   @VLRUNITCORRETO = sankhya.VALOR_DO_KIT_MAIS_BRINDES(ITE.NUNOTA,SEQUENCIA)/QTDNEG,
					   @VLRUNITERRADO = VLRUNIT,
					   @VLRTOTERRADO = VLRTOT
				FROM sankhya.TGFCAB CAB WITH(NOLOCK)
					INNER JOIN sankhya.TGFITE ITE WITH(NOLOCK) ON ITE.NUNOTA = CAB.NUNOTA AND USOPROD = 'R' AND CODVOL = 'KT'
					LEFT JOIN (select SEQUENCIAORIG, SUM(VLRTOT) AS VLR from sankhya.TGFCAB CAB WITH(NOLOCK)
								INNER JOIN sankhya.TGFITE ITE WITH(NOLOCK) ON ITE.NUNOTA = CAB.NUNOTA AND ITE.USOPROD = 'D'
								INNER JOIN sankhya.TGFVAR V WITH(NOLOCK) ON V.NUNOTA = ITE.NUNOTA AND V.SEQUENCIA = ITE.SEQUENCIA AND V.NUNOTAORIG = V.NUNOTA
								WHERE CAB.NUNOTA = @NUNOTA
								GROUP BY SEQUENCIAORIG) VLR ON VLR.SEQUENCIAORIG = ITE.SEQUENCIA
				WHERE CAB.NUNOTA = @NUNOTA AND ITE.SEQUENCIA = @SEQUENCIA

				PRINT 'VLRTOTCORRETO: ' + CAST(@VLRTOTCORRETO AS VARCHAR(7))
				PRINT 'VLRTOTERRADO: ' + CAST(@VLRTOTCORRETO AS VARCHAR(7))
				PRINT 'VLRUNITCORRETO: ' + CAST(@VLRUNITCORRETO AS VARCHAR(7))
				PRINT 'VLRUNITERRADO: ' + CAST(@VLRUNITERRADO AS VARCHAR(7))


				IF (@VLRTOTERRADO != @VLRTOTCORRETO)
				BEGIN
					-- ALTERA O VALOR DO KIT
					UPDATE sankhya.TGFITE SET VLRUNIT = @VLRTOTCORRETO, VLRTOT = @VLRTOTCORRETO WHERE NUNOTA = @NUNOTA AND SEQUENCIA = @SEQUENCIA
					PRINT 'executou upd na ite na sequencia: ' + cast(@sequencia as varchar(10))
				END

		FETCH NEXT FROM KITS INTO @SEQUENCIA
		END
		CLOSE KITS
		DEALLOCATE KITS


		-- CORRIGE O VALOR TOTAL DO PEDIDO NA CAB
		UPDATE sankhya.TGFCAB SET VLRNOTA = (SELECT SUM(VLRTOT-VLRDESC) FROM sankhya.TGFITE WHERE NUNOTA = @NUNOTA AND USOPROD = 'R')+VLRFRETE WHERE NUNOTA = @NUNOTA
		PRINT 'executou upd na cab'

		SELECT 
		@VLRNOTA = VLRNOTA,
		@VLRFRETE = VLRFRETE		
		FROM sankhya.TGFCAB WHERE NUNOTA = @NUNOTA
		print cast(@vlrnota as varchar(10))
		print cast(@vlrfrete as varchar(10))


		-- CORRIGE O VALOR DO FRETE DOS ITENS QUE SÃO TRIBUTADOS
		UPDATE DIN SET
		BASE = ROUND(@VLRFRETE*(ITE.VLRTOT/(@VLRNOTA-@VLRFRETE)),2),
		VALOR = CASE WHEN VALOR = 0 THEN 0 ELSE ROUND((@VLRFRETE*(ITE.VLRTOT/(@VLRNOTA-@VLRFRETE)))*(ALIQUOTA/100),2) END,
		VLRFCP = (BASE * (PERCFCP/100))
		FROM sankhya.TGFDIN DIN
		INNER JOIN sankhya.TGFITE ITE ON ITE.NUNOTA = DIN.NUNOTA AND ITE.SEQUENCIA= DIN.SEQUENCIA
		WHERE DIN.NUNOTA = @NUNOTA AND DIN.CODIMP = 1 AND DIN.CODINC = 3
		

		INSERT INTO sankhya.TGFACT (NUNOTA, SEQUENCIA, DHOCOR, HRACT, OCORRENCIAS, DIGITADO) 
		VALUES (@NUNOTA, @SEQUENCIA, GETDATE(),	CAST(DATEPART(HOUR,GETDATE()) AS VARCHAR(2)) + CAST(DATEPART(MINUTE,GETDATE()) AS VARCHAR(2)) + CAST(DATEPART(SECOND,GETDATE()) AS VARCHAR(2)),'Executado procedimento de correção total do frete difere do somatório pelo usuário ' + @USER,'N');
		


		SET @RETORNO = 0
		SET @P_MENSAGEM = 'Rotina executada com sucesso. Favor gerar o lote de NFe.' 
END