USE [SANKHYA_PRODUCAO]
GO
/****** Object:  StoredProcedure [sankhya].[STP_TGFCAB_TGFITE_BONIFICADO]    Script Date: 31/03/2017 15:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rafael Turra
-- Create date: 2016-12-05
-- Description:	
-- =============================================
ALTER PROCEDURE [sankhya].[STP_TGFCAB_TGFITE_BONIFICADO]
       @P_NUNOTA INT, 
	   @P_SUCESSO VARCHAR OUTPUT, 
	   @P_MENSAGEM VARCHAR OUTPUT, 
	   @P_CODUSULIB NUMERIC OUTPUT
AS
DECLARE
@NUNOTA			INT,
@CODPARC		INT,
@CODTIPOPER		INT,
@UF				VARCHAR(2),
@CODTIPVENDA	INT,
@SEQUENCIA		INT,
@USOPROD		CHAR(1),
@BONIFICADO		CHAR(1)
BEGIN
	SET NOCOUNT ON;  	   	

SELECT	@NUNOTA = CAB.NUNOTA,
		@CODPARC = CAB.CODPARC,
		@CODTIPOPER = CAB.CODTIPOPER,
		@CODTIPVENDA = CAB.CODTIPVENDA,
		@USOPROD = ITE.USOPROD,
		@BONIFICADO = CAB.AD_BONIFICADO,
		@SEQUENCIA = SEQUENCIA
FROM	sankhya.TGFCAB CAB WITH (NOLOCK)
		INNER JOIN sankhya.TGFITE ITE WITH (NOLOCK) ON CAB.NUNOTA = ITE.NUNOTA
WHERE	CAB.NUNOTA = @P_NUNOTA
		AND ((CAB.CODTIPVENDA = 49 AND CAB.CODTIPOPER = 503) OR CAB.CODTIPOPER = 504 OR (CAB.CODTIPOPER = 600 AND AD_BONIFICADO = 'S'))
		AND USOPROD IN ('R','D')

/* obtem a UF que será usada posteriormente para o código CFOP */
SET @UF = ( SELECT UF.UF
			FROM	sankhya.TGFPAR PAR WITH (NOLOCK)
					INNER JOIN sankhya.TSICID CID WITH (NOLOCK) ON (CID.CODCID = PAR.CODCID)
					INNER JOIN sankhya.TSIUFS UF WITH (NOLOCK) ON (UF.CODUF = CID.UF)
			WHERE	CODPARC = @CODPARC)
 
/* verifica se não existe aninhamento (triggers aninhadas) e executa o update */
	BEGIN
		UPDATE TGFITE
		SET		PERCDESC = CASE WHEN USOPROD = 'D' THEN PERCDESC ELSE 100 END,
				VLRDESC = CASE WHEN USOPROD = 'D' THEN VLRDESC ELSE VLRTOT END,
				VLRICMS = 0,
				BASEICMS = 0,
				BASICMMOD = NULL,
				CODCFO = (CASE WHEN @CODTIPOPER = 600 AND @UF = 'SP' THEN 1202 
								WHEN @CODTIPOPER = 600 AND @UF != 'SP' THEN 2202
								WHEN @CODTIPOPER != 600 AND @UF = 'SP' THEN 5910
								WHEN @CODTIPOPER != 600 AND @UF != 'SP' THEN 6910 END)
		WHERE	NUNOTA = @NUNOTA
				AND SEQUENCIA = @SEQUENCIA
		
		UPDATE	TGFCAB
		SET		VLRNOTA = 0.00,
				BASEICMS = 0.00,
				VLRICMS = 0.00,
				VLRFRETE = 0.00,
				VLRDESCTOT = 0.00,
				VLRDESCTOTITEM = 0.00,
				AD_BONIFICADO = CASE WHEN @CODTIPOPER = 504 THEN 'S' ELSE 'N' END,
				AD_PAISETIQUETA = NULL,
				AD_NUMETIQ = NULL,
				AD_DIGETIQ = NULL
		WHERE	NUNOTA = @NUNOTA
		
		UPDATE	TGFDIN
		SET		VALOR = 0.00,
				BASERED = 0.00,
				VLRCRED=0,
				VLRDIFALDEST = 0,
				VLRDIFALREM=0,
				VLRFCP=0,
				PERCFCP=0,
				PERCPARTDIFAL=0,
				ALIQINTDEST=0
		WHERE	NUNOTA = @NUNOTA
		

     SET @P_SUCESSO = 'S';

   END

END