USE [SANKHYA_HOMOLOGACAO]
GO
/****** Object:  Trigger [sankhya].[TRG_INC_UPD_DLT_TGFEST]    Script Date: 03/02/2017 16:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rafael Turra
-- Create date: 2017-02-03
-- Description:	REALIZA A SOMA DO ESTOQUE FISICO E ATUALIZA O ESTOQUE VIRTUAL 0 (ZERO)
-- =============================================
ALTER TRIGGER [sankhya].[TRG_INC_UPD_DLT_TGFEST] 
   ON  [sankhya].[TGFEST] 
   AFTER INSERT,DELETE,UPDATE
AS 

DECLARE
	@CODPROD	INT,
	@SOMA		DECIMAL (10,2);	
BEGIN
	
	IF EXISTS (SELECT 1 FROM DELETED) --INSERT 
		SELECT @CODPROD = D.CODPROD FROM DELETED D
	ELSE
		SELECT @CODPROD = I.CODPROD FROM INSERTED I
	
	SELECT	@SOMA = SUM(ESTOQUE - RESERVADO)
	FROM	SANKHYA.TGFEST EST
	WHERE	CODPROD = @CODPROD
			AND CODLOCAL != 0

	UPDATE SANKHYA.TGFEST SET ESTOQUE = @SOMA WHERE CODPROD = @CODPROD AND CODLOCAL = 0
END