USE [EDITORAWVWEBPRD]
GO
/****** Object:  UserDefinedFunction [dbo].[CALCULA_MODALIDADE_FRETE]    Script Date: 27/03/2017 17:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rodrigo Lacalendola
-- Create date: 2016-08-29
-- Description: Retorna ao usuário qual a modalidade de transporte mais barata (entre E-SEDEX e PAC) para o CEP e PESO informado. Regra de calculo abaixo;
-- =============================================
ALTER FUNCTION [dbo].[CALCULA_MODALIDADE_FRETE]
(
	@PESO FLOAT, @CEP INT
)
RETURNS INT
AS
BEGIN

/* DECLARANDO AS VARIÁVEIS QUE SERÃO UTILIZADAS */
DECLARE @VLR_ESEDEX FLOAT, @VLR_PAC FLOAT, @CD_TRANSP INT

/* REGRA DE CALCULO:

	CASO O E-SEDEX SEJA MAIS BARATO, OU ATÉ 25% MAIS CARO QUE O VALOR DO PAC (LIMITANDO-SE A R$25 DE FRETE),
	SERÁ CONSIDERADO O E-SEDEX A MELHOR OPÇÃO.

	CASO CONTRÁRIO, SERÁ O PAC.

*/

/* OBTENDO O VALOR DO E-SEDEX*/
SELECT @VLR_ESEDEX = VLFRETE FROM dbo.TBLVWTRANSPVALORFRETE V WITH(NOLOCK)
INNER JOIN (
select vlr.CDTIPOSERVICOFRETE, DSTIPOSERVICOFRETE, min(QTPESO) as peso, NUFAIXACEPFINAL, NUFAIXACEPINICIAL FROM dbo.TBLVWTRANSPVALORFRETE VLR  WITH(NOLOCK)
INNER JOIN dbo.TBLVWTIPOSERVICOFRETE TP WITH(NOLOCK) ON TP.CDTIPOSERVICOFRETE = VLR.CDTIPOSERVICOFRETE
WHERE
NUFAIXACEPINICIAL < @CEP AND NUFAIXACEPFINAL >= @CEP AND
QTPESO >= @PESO
group by vlr.CDTIPOSERVICOFRETE, TP.DSTIPOSERVICOFRETE, NUFAIXACEPFINAL, NUFAIXACEPINICIAL) CEP
ON CEP.CDTIPOSERVICOFRETE = V.CDTIPOSERVICOFRETE AND CEP.NUFAIXACEPFINAL = V.NUFAIXACEPFINAL AND CEP.NUFAIXACEPINICIAL = V.NUFAIXACEPINICIAL AND V.QTPESO = CEP.peso AND CEP.CDTIPOSERVICOFRETE IN (2)

/* OBTENDO O VALOR DO E-SEDEX*/
SELECT @VLR_PAC = V.VLFRETE FROM dbo.TBLVWTRANSPVALORFRETE V WITH(NOLOCK)
INNER JOIN (
select vlr.CDTIPOSERVICOFRETE, DSTIPOSERVICOFRETE, min(QTPESO) as peso, NUFAIXACEPFINAL, NUFAIXACEPINICIAL FROM dbo.TBLVWTRANSPVALORFRETE VLR  WITH(NOLOCK)
INNER JOIN dbo.TBLVWTIPOSERVICOFRETE TP WITH(NOLOCK) ON TP.CDTIPOSERVICOFRETE = VLR.CDTIPOSERVICOFRETE
WHERE
NUFAIXACEPINICIAL < @CEP AND NUFAIXACEPFINAL >= @CEP AND
QTPESO >= @PESO
group by vlr.CDTIPOSERVICOFRETE, TP.DSTIPOSERVICOFRETE, NUFAIXACEPFINAL, NUFAIXACEPINICIAL) CEP
ON CEP.CDTIPOSERVICOFRETE = V.CDTIPOSERVICOFRETE AND CEP.NUFAIXACEPFINAL = V.NUFAIXACEPFINAL AND CEP.NUFAIXACEPINICIAL = V.NUFAIXACEPINICIAL AND V.QTPESO = CEP.peso AND CEP.CDTIPOSERVICOFRETE IN (3)


/* FUNÇÃO QUE VERIFICA SE É MELHOR O PAC OU E-SEDEX */
IF ((@VLR_ESEDEX <= @VLR_PAC) OR ( (@VLR_ESEDEX <= @VLR_PAC*1.25) AND (@VLR_PAC <= 25.00)))
	BEGIN
		SET @CD_TRANSP = 2
	END

ELSE

	BEGIN
		SET @CD_TRANSP = 3
	END



RETURN @CD_TRANSP


END
