USE [EDITORAWVWEBPRD]
GO
/****** Object:  StoredProcedure [dbo].[PRIMPORTADADOSPARAERP]    Script Date: 21/03/2018 17:33:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[PRIMPORTADADOSPARAERP]
(   @NMTABELA VARCHAR(20), 
    @VLCHAVE VARCHAR(4000), 
    @CDEMPRESA VARCHAR(20), 
    @CDREPRESENTANTE VARCHAR(20), 
    @RETORNO VARCHAR(20) OUTPUT
) AS
BEGIN
	DECLARE @CDCLIENTE VARCHAR(20)
    DECLARE @CDNOVOCLIENTE VARCHAR(20)
	DECLARE @CDREGISTRO VARCHAR(30)
	DECLARE @NUPEDIDOAUX VARCHAR(30)
	DECLARE @FLORIGEMPEDIDO CHAR(1)
      
    IF @NMTABELA IS NOT NULL AND UPPER(@NMTABELA) IN ('TBLVWPEDIDO','TBLVWNOVOCLIENTE','TBLVWCLIENTEATUA')
    BEGIN
        IF @VLCHAVE IS NOT NULL
        BEGIN
		  SET @CDEMPRESA = dbo.getKeyValue (@VLCHAVE, 'cdEmpresa')
          SET @CDREPRESENTANTE = dbo.getKeyValue (@VLCHAVE, 'cdRepresentante')
		  SET @CDCLIENTE = dbo.getKeyValue(@VLCHAVE, 'cdCliente')
          SET @CDNOVOCLIENTE = dbo.getKeyValue(@VLCHAVE, 'cdNovoCliente')
		  SET @CDREGISTRO = dbo.getKeyValue(@VLCHAVE, 'cdRegistro')
		  SET @FLORIGEMPEDIDO = dbo.getKeyValue(@VLCHAVE, 'flOrigemPedido')
		  SET @NUPEDIDOAUX = dbo.getKeyValue(@VLCHAVE, 'nuPedido')   
        END
    END
	  execute PRIMPORTAPEDIDOS @CDEMPRESA, @CDREPRESENTANTE, @FLORIGEMPEDIDO, @NUPEDIDOAUX, @RETORNO OUTPUT
      execute PRIMPORTACLIENTES @CDEMPRESA, @CDREPRESENTANTE, @CDNOVOCLIENTE, @RETORNO OUTPUT
      execute PRIMPORTACLIENTEATUA @CDEMPRESA, @CDREPRESENTANTE, @RETORNO OUTPUT
END
