USE [EDITORAWVWEBPRD]
GO
/****** Object:  StoredProcedure [dbo].[PRIMPORTAPEDIDOS]    Script Date: 09/08/2018 19:32:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[PRIMPORTAPEDIDOS](@CDEMPRESA VARCHAR(20), @CDREPRESENTANTE VARCHAR(20), @FLORIGEMPEDIDOAUX CHAR(1), @NUPEDIDOAUX VARCHAR(30), @RETORNO VARCHAR(4000) OUTPUT) AS
BEGIN
	/*=================================================================
	Author:		 EDINEI RADUVANSKI
	Description: 2016-09-16	- ALTERADO ORDENAÇÃO DO NUSEQUENCIA NO FOR DOS ITENS
	===================================================================*/
    
	/*=================================================================
	Author: RAFAEL TURRA
	Description: NA LINHA 248 @P_NUNOTA REALIZEI A ALTERAÇÃO PARA O PEDIDOD ORIGINAL (@NUPEDIDOAUX)
	===================================================================*/

	/*=================================================================
	Author: GUILHERME BRANCO STRACINI
	Data: 24/10/2016
	Description: ADICIONADO O CAMPO AD_CODREENVIO NAS LINHAS 249 (nome do campo) e 260 (valor)
	===================================================================*/

	/*=================================================================
	Author: GUILHERME BRANCO STRACINI
	Data: 24/10/2016
	Description: Alterado campo AD_ID (Como Soube) para AD_CODCOMOSOUBE (Como Soube)
				 na TGFCAB do Sankhya, por isso está sendo alterado aqui na linha 256 (nesta data)
	===================================================================*/

	/*=================================================================
	Author:	GUILHERME BRANCO STRACINI
	Date:	19/02/2018
	Description: Cadastra o código do parceiro na tela Controle de Pedidos (AD_PEDIDOVTEXSC)
				 Esse cadastro neste procedimento é um "failover"/"fallback" caso a trigger da TGFCAB falhe,
				 o insert inicial ocorre pela TRG_INC_TGFCAB_AD_PEDIDOVTEXSC e lá já cadastra o parceiro, apenas replicando aqui
				 Na data de hoje, as alterações foram efetuadas nas linhas 670 e 671 (nome do campo e valor respectivamente)
	===================================================================*/

	/*=================================================================
	Author:	RODRIGO LACALENDOLA
	Date:	15/03/2018
	Description: Verifica se o tipo de serviço de transporte está entre 10 e 11 (Mandaê Econõmico e Mandê Rápido) e corrige o código da
				 da transportadora para Mandaê, para evitar erro do usuário selecionar a transportadora Correios, mas o tipo de serviço
				 Mandaê.
	===================================================================*/

	/*=================================================================
	Author:	GUILHERME BRANCO STRACINI
	Date:	21/03/2018
	Description: Cadastra o código 426 (WVWVendas) como CODUSU na TGFCAB para o pedido ao invés do código 0 (SUP)
	===================================================================*/

	/*=================================================================
	Author:	GUILHERME BRANCO STRACINI
	Date:	09/08/2018
	Description: Cadastra os campos de BI na tabela AD_PEDIDOVTEXSC com o valor padrão 'N'
	===================================================================*/

	-- VARIAVEIS GLOBAIS
    DECLARE @P_ULTIMO_CODIGO                                    DECIMAL(16,0);
    DECLARE @P_NUNOTA                                           DECIMAL(16,0);
    DECLARE @P_NUMNOTA                                          DECIMAL(16,0);--PERSONALIZADO
    DECLARE @CODVOL                                             VARCHAR(10);
    DECLARE @P_ATUALEST                                         VARCHAR(10);
    DECLARE @P_CENCUS                                           DECIMAL(10);
    DECLARE @P_CENCUSREP                                        DECIMAL(10);
    DECLARE @P_NAT                                              DECIMAL(10);
    DECLARE @P_SERIE                                            VARCHAR(10);    
    DECLARE @P_ESTOQUE                                          DECIMAL(16,0);
    DECLARE @P_EST                                              DECIMAL(16,0) = 0;
    DECLARE @P_RESERVA                                          CHAR(1) = 'N';
    DECLARE @P_NUTAB                                            VARCHAR(30);   
    DECLARE @P_VLRDESCONTO                                      DECIMAL(16,7);
    DECLARE @P_CODLOCAL                                         DECIMAL(16,7);
	DECLARE @P_CODLOCALPADRAO                                   DECIMAL(16,7);
    DECLARE @P_QTDITEM                                          DECIMAL(16,7);
    DECLARE @P_VLITEMPEDIDO                                     DECIMAL(16,7);
    DECLARE @P_VLBASEITEMPEDIDO                                 DECIMAL(16,7);
    DECLARE @P_VLBASEITEMTABELAPRECO                            DECIMAL(16,7);
    DECLARE @P_QTDUNALTER                                       DECIMAL(16,7);
    DECLARE @P_OPERACAOUNALTER                                  CHAR(1);
    DECLARE @P_VLRACRESCDESC                                    DECIMAL(16,7);
    DECLARE @P_PRECOBASE                                        DECIMAL(16,7);
    DECLARE @P_VLRETENCAO                                       DECIMAL(16,7);
    DECLARE @P_RETENCAO                                         DECIMAL = 1;
    DECLARE @P_VLTOTALITEMPEDIDO                                DECIMAL(16,7);
    DECLARE @P_SOMAPEDIDO                                       DECIMAL(16,7);
    DECLARE @P_SOMADESC                                         DECIMAL(16,7);
    DECLARE @P_DHALTER_TOP                                      DATETIME;
    DECLARE @P_DHALTER_TPV                                      DATETIME;
    DECLARE @P_DATA                                             DATETIME;
    DECLARE @P_DTHORA                                           DATETIME;
    DECLARE @P_AD_SETORVEND                                     VARCHAR(20);--PERSONALIZADO
    DECLARE @P_VLCUSTO                                          DECIMAL(16,7);--PERSONALIZADO
	DECLARE @TENTATIVA											INT = 0; 
      
    -- CURSOR PEDIDO
    DECLARE @CDTIPOPEDIDO                                       VARCHAR(20);
    DECLARE @CDCLIENTE                                          DECIMAL(16);
    DECLARE @CDTABELAPRECO                                      VARCHAR(20); 
    DECLARE @CDCONDICAOPAGAMENTO                                VARCHAR(20); 
    DECLARE @DSOBSERVACAO                                       VARCHAR(4000);
    DECLARE @VLTOTALPEDIDO                                      DECIMAL(16,7); 
    DECLARE @DTENTREGA                                          DATETIME;
    DECLARE @HRMOV                                              VARCHAR(12);
    DECLARE @DTFECHAMENTO                                       DATETIME;
    DECLARE @CDMEIOCOMUNICACAO                                  VARCHAR(20);--PERSONALIZADO
    DECLARE @CDSEGCARTAO                                        VARCHAR(10);--PERSONALIZADO
    DECLARE @BANDEIRACARTAO                                     VARCHAR(20);--PERSONALIZADO
    DECLARE @CDUSUARIOEMISSAO                                   VARCHAR(20);--PERSONALIZADO
    DECLARE @CDTIPOSERVICOFRETE                                 VARCHAR(20);--PERSONALIZADO
    DECLARE @VLFRETE                                            DECIMAL(16,7);--PERSONALIZADO
    DECLARE @CDTRANSPORTADORA                                   VARCHAR(20);--PERSONALIZADO
    DECLARE @NUCARTAO                                           INT;--PERSONALIZADO
    DECLARE @CDDOCCARTAO                                        INT;--PERSONALIZADO
  	DECLARE @NMTITULARCARTAO									VARCHAR(100);--PERSONALIZADO
	DECLARE @CPFTITULARCARTAO									VARCHAR(11);--PERSONALIZADO

           
    -- CURSOR ITEMPEDIDO
    DECLARE @CDPRODUTO                                          VARCHAR(20);
    DECLARE @VLBASEITEMPEDIDO                                   DECIMAL(16,7);
    DECLARE @VLITEMPEDIDO                                       DECIMAL(16,7);
    DECLARE @QTITEMFISICO                                       DECIMAL(16,7);
    DECLARE @VLBASEITEMTABELAPRECO                              DECIMAL(16,7);
    DECLARE @CDUNIDADE                                          VARCHAR(20);
    DECLARE @VLVERBAITEM                                        DECIMAL(16,7);
    DECLARE @VLVERBAITEMPOSITIVO                                DECIMAL(16,7);
    DECLARE @VLBASEFLEX                                         DECIMAL(16,7);
    DECLARE @VLTOTALITEMPEDIDO                                  DECIMAL(16,7);
    DECLARE @VLPCTDESCONTO                                      DECIMAL(16,7); 
    DECLARE @NUSEQITEMPEDIDO                                    DECIMAL(16,0);
    DECLARE @FLTIPOITEMPEDIDO                                   CHAR(1);
    DECLARE @FLPROMOCAO                                         CHAR(1); 
    DECLARE @VLPCTDESCONTOINFO                                  VARCHAR(20);
    DECLARE @VLPCTDESCPROMOCIONAL                               DECIMAL(16,7);
    DECLARE @USOPROD                                            VARCHAR(10);
    DECLARE @CODLOCALPADRAO                                     INT;
    DECLARE @FLKIT                                              CHAR(1);--PERSONALIZADO
    DECLARE @FLCOMPONENTE                                       CHAR(1);--PERSONALIZADO
    DECLARE @CDPRODUTOKIT                                       VARCHAR(20);--PERSONALIZADO
    DECLARE @VLCUSTOKIT                                         DECIMAL(16,7);--PERSONALIZADO
    DECLARE @VLCUSTOITEM                                        DECIMAL(16,7);--PERSONALIZADO
    DECLARE @P_NUSEQITEMPEDIDOPAI                               DECIMAL(16,0);--PERSONALIZADO
    DECLARE @VLPCTACRESCIMO                                     DECIMAL(16,7);
    
    SET LANGUAGE BRAZILIAN
    
    -- TRATAMENTO DE ERROS
    DECLARE @ERRORNUM                                           VARCHAR(20);
    DECLARE @ERRORSEVERITY                                      VARCHAR(20);
    DECLARE @ERRORMSG                                           VARCHAR(4000);
	--SET DEADLOCK_PRIORITY NORMAL;
	--SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
	--SET XACT_ABORT ON;

    SET @RETORNO = 'OK';

	BEGIN TRY

		SELECT 
			CDCLIENTE, CDTIPOPEDIDO, CDTABELAPRECO, CDCONDICAOPAGAMENTO, CDUSUARIOEMISSAO, 
			DTENTREGA, DTFECHAMENTO, DSOBSERVACAO, VLTOTALPEDIDO, CDMEIOCOMUNICACAO, 
			CDTIPOSERVICOFRETE, VLFRETE, CDTRANSPORTADORA, CDSEGCARTAO, NUCARTAO, 
			CDDOCCARTAO, NMTITULARCARTAO, CPFTITULARCARTAO
		INTO #PEDIDO
		FROM TBLVWPEDIDO
		WHERE
			CDEMPRESA = @CDEMPRESA 
		AND CDREPRESENTANTE = @CDREPRESENTANTE 
		AND FLORIGEMPEDIDO = @FLORIGEMPEDIDOAUX 
		AND NUPEDIDO = @NUPEDIDOAUX 
		AND CDSTATUSPEDIDO  IN (2) 
		AND (FLCONTROLEERP <> 'E' OR FLCONTROLEERP IS NULL)

		--VERIFICA SE PEDIDO JA FOI PROCESSADO
		IF @@ROWCOUNT = 0
			RETURN;

		SELECT 
			ITEM.CDPRODUTO, ITEM.CDPRODUTOKIT, ITEM.QTITEMFISICO, ITEM.FLKIT, ITEM.FLCOMPONENTE,
			ITEM.USOPROD, ITEM.CDUNIDADE, ITEM.CODVOL, ITEM.CODLOCALPADRAO, 
			ITEM.VLITEMPEDIDO, ITEM.VLBASEITEMPEDIDO, ITEM.VLCUSTOITEM, ITEM.VLCUSTOKIT, 
			ITEM.VLPCTDESCONTO, ITEM.VLPCTACRESCIMO, ITEM.VLVERBAITEM, ITEM.VLVERBAITEMPOSITIVO,
			ROW_NUMBER() OVER (ORDER BY ITEM.CDPRODUTO ASC, ITEM.FLCOMPONENTE ASC, ITEM.VLITEMPEDIDO, ITEM.QTITEMFISICO) NUSEQITEMPEDIDO
		INTO #ITEMPEDIDO
		FROM 
			(
			SELECT
				ITEM.CDEMPRESA, ITEM.CDREPRESENTANTE, ITEM.FLORIGEMPEDIDO, ITEM.NUPEDIDO, ITEM.CDPRODUTO, 
				KIT.CDPRODUTOKIT, ITEM.QTITEMFISICO, COALESCE(KIT.FLKIT,'N')FLKIT, COALESCE(KIT.FLCOMPONENTE,'N')FLCOMPONENTE, PRO.USOPROD, 
				ISNULL(ITEM.CDUNIDADE, PRO.CODVOL) CDUNIDADE, PRO.CODVOL, PRO.CODLOCALPADRAO, PRECO.VLUNITARIO VLITEMPEDIDO, ITEM.VLBASEITEMPEDIDO, 
				CAST(dbo.PRECODECUSTO(PRO.CODPROD,PRO.CODVOL) AS DECIMAL (16,7)) VLCUSTOITEM, CAST(dbo.FN_CUSTO_KIT_WMW(KIT.CDPRODUTOKIT) AS DECIMAL (16,7)) VLCUSTOKIT, ITEM.VLPCTDESCONTO, ISNULL(ITEM.VLPCTACRESCIMO,0) VLPCTACRESCIMO, ITEM.VLVERBAITEM, 
				ISNULL(ITEM.VLVERBAITEMPOSITIVO,0) VLVERBAITEMPOSITIVO
			FROM TBLVWITEMPEDIDO ITEM
			JOIN TGFPRO PRO 
				ON ITEM.CDPRODUTO = PRO.CODPROD
			LEFT OUTER JOIN (
							 SELECT DISTINCT 'S' FLKIT, 'N' FLCOMPONENTE, CODPROD CDPRODUTOKIT FROM TGFICP WITH(NOLOCK)
							) KIT ON KIT.CDPRODUTOKIT = ITEM.CDPRODUTO
			JOIN TBLVWITEMTABELAPRECO PRECO 
				ON PRECO.CDPRODUTO = ITEM.CDPRODUTO
			UNION
			SELECT
				ITEM.CDEMPRESA, ITEM.CDREPRESENTANTE, ITEM.FLORIGEMPEDIDO, ITEM.NUPEDIDO, ITEM.CDPRODUTO, KIT.CDPRODUTOKIT, CAST((ITEM.QTITEMFISICO * COALESCE(KIT.QTITEMFISICO,1)) AS DECIMAL(16,7)) QTITEMFISICO, 
				COALESCE(KIT.FLKIT,'N')FLKIT, COALESCE(KIT.FLCOMPONENTE,'N')FLCOMPONENTE, KIT.USOPROD, 
				ISNULL(ITEM.CDUNIDADE,KIT.CODVOL) CDUNIDADE, KIT.CODVOL, PRO.CODLOCALPADRAO, PRECO.VLUNITARIO VLITEMPEDIDO, ITEM.VLBASEITEMPEDIDO, 
				0 VLCUSTOITEM, 0 AS VLCUSTOKIT, ITEM.VLPCTDESCONTO, ISNULL(ITEM.VLPCTACRESCIMO,0) VLPCTACRESCIMO, ITEM.VLVERBAITEM, 
				ISNULL(ITEM.VLVERBAITEMPOSITIVO,0) VLVERBAITEMPOSITIVO
			FROM TBLVWITEMPEDIDO ITEM
			JOIN TGFPRO PRO 
				ON ITEM.CDPRODUTO = PRO.CODPROD
			JOIN (
				  SELECT DISTINCT 'S' FLKIT, 'S' FLCOMPONENTE, CODPROD CDPRODUTO, CODMATPRIMA CDPRODUTOKIT, QTDMISTURA QTITEMFISICO, 'D' USOPROD, CODVOL FROM TGFICP WITH(NOLOCK)
				 ) KIT ON KIT.CDPRODUTO = ITEM.CDPRODUTO
			LEFT OUTER JOIN TBLVWITEMTABELAPRECO PRECO ON PRECO.CDPRODUTO = KIT.CDPRODUTOKIT
			) ITEM
		WHERE
			ITEM.CDEMPRESA = @CDEMPRESA  
		AND ITEM.CDREPRESENTANTE = @CDREPRESENTANTE 
		AND ITEM.FLORIGEMPEDIDO = @FLORIGEMPEDIDOAUX 
		AND ITEM.NUPEDIDO = @NUPEDIDOAUX

		--VERIFICA SE PEDIDO JA FOI PROCESSADO
		IF @@ROWCOUNT = 0
			RAISERROR('ERRO A IMPORTAR O PEDIDO... SEM ITENS', 16, 1);
        
		-- FOR DO PEDIDO 
		DECLARE CURSORPEDIDO CURSOR LOCAL FOR
			SELECT 
				CDCLIENTE, CDTIPOPEDIDO, CDTABELAPRECO, CDCONDICAOPAGAMENTO, CDUSUARIOEMISSAO, 
				DTENTREGA, DTFECHAMENTO, DSOBSERVACAO, VLTOTALPEDIDO, CDMEIOCOMUNICACAO, 
				CDTIPOSERVICOFRETE, VLFRETE, CDTRANSPORTADORA, CDSEGCARTAO, NUCARTAO, 
				CDDOCCARTAO, NMTITULARCARTAO, CPFTITULARCARTAO
			FROM #PEDIDO
		OPEN CURSORPEDIDO
		FETCH NEXT FROM CURSORPEDIDO INTO @CDCLIENTE, @CDTIPOPEDIDO, @CDTABELAPRECO, @CDCONDICAOPAGAMENTO, @CDUSUARIOEMISSAO, 
										  @DTENTREGA, @DTFECHAMENTO, @DSOBSERVACAO, @VLTOTALPEDIDO, @CDMEIOCOMUNICACAO, 
										  @CDTIPOSERVICOFRETE, @VLFRETE, @CDTRANSPORTADORA, @CDSEGCARTAO, @NUCARTAO, 
										  @CDDOCCARTAO, @NMTITULARCARTAO, @CPFTITULARCARTAO
		WHILE @@FETCH_STATUS = 0
		BEGIN
			BEGIN TRY
				
				-- BUSCA NUMERACAO TGFCAB
				INICIO:    
				SELECT 
					@P_ULTIMO_CODIGO = ULTCOD 
				FROM TGFNUM 
				WHERE 
					ARQUIVO = 'TGFCAB';
				
				SET @P_NUNOTA = @P_ULTIMO_CODIGO + 1;
              
				UPDATE TGFNUM 
					SET ULTCOD = @P_NUNOTA 
				WHERE 
					ARQUIVO = 'TGFCAB' 
				AND ULTCOD = @P_ULTIMO_CODIGO;
               
				IF @@ROWCOUNT = 0 AND @TENTATIVA < 10 
					BEGIN 
						SET @TENTATIVA = @TENTATIVA + 1;  
						GOTO 
						INICIO 
					END

				-- BUSCA CENTRO DE CUSTO DO CADASTRO DE VENDEDOR POR PADRAO, SENAO BUSCA DO CADASTRO DA EMPRESA
				SELECT 
					@P_CENCUSREP = ISNULL(CODCENCUSPAD,0)  
				FROM TGFVEN WITH(NOLOCK)
				WHERE 
					AD_MOBILIDADE = 'S' 
				AND CODVEND = @CDREPRESENTANTE;
				
				IF (@P_CENCUSREP <> 0)
					BEGIN
						SET @P_CENCUS = @P_CENCUSREP;
					END
				ELSE
					BEGIN
						SELECT 
							@P_CENCUS = ISNULL(AD_WMWCODCENCUS,0) 
						FROM TSIEMP WITH(NOLOCK)
						WHERE 
							AD_MOBILIDADE = 'S' 
						AND CODEMP = @CDEMPRESA;
					END 
                     
				-- NATUREZA DA OPERACAO DE VENDAS              
				SELECT 
					@P_NAT = ISNULL(AD_WMWNATOPVEN,0) 
				FROM TSIEMP WITH(NOLOCK)
				WHERE 
					AD_MOBILIDADE = 'S' 
				AND CODEMP = @CDEMPRESA;
                          
				-- BUSCA SERIE PADRAO PARA FATURAMENTO/VENDA   
				SELECT 
					@P_SERIE = TEXTO 
				FROM TSIPAR WITH(NOLOCK)
				WHERE 
					CHAVE = 'SERIEVNDPADRAO' 
				AND CODUSU = '0';
                     
				-- DATA DA INSERCAO
				SELECT @P_DATA = CAST(FLOOR(CAST(GETDATE() AS FLOAT)) AS DATETIME);
                 
				-- DATA/HORA DA INSERCAO
				SELECT @P_DTHORA = CAST(CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 120), 120) AS DATETIME);
                                    
				-- HORARIO DA MOVIMENTACAO
				SELECT @HRMOV = REPLACE(CONVERT(VARCHAR, GETDATE(), 108),':','');
                 
               
				-- BUSCA PERFIL DO VENDEDOR PARA ALTERAR A TOP  - PERSONALIZADO
				SELECT 
					@P_AD_SETORVEND = AD_SETORVEND 
				FROM TGFVEN WITH(NOLOCK)
				WHERE 
					AD_MOBILIDADE = 'S' 
				AND CODVEND = @CDUSUARIOEMISSAO;

				SELECT @CDTIPOPEDIDO = CASE @P_AD_SETORVEND
										WHEN 'ATIVO' THEN '500'
										WHEN 'RECEPTIVO' THEN '501'
										WHEN 'E-COMMERCE' THEN '502'
										WHEN 'LEADS' THEN '515'
										ELSE '503'
										END
                                        
				SELECT @P_NUMNOTA = CASE @CDTIPOPEDIDO
										WHEN '500' THEN 0
										WHEN '501' THEN 0
										WHEN '515' THEN 0
										WHEN 'E-COMMERCE' THEN @P_NUNOTA
										ELSE @P_NUNOTA
									END



				-- TRANSPORTADORA MANDAÊ
				IF (@CDTIPOSERVICOFRETE IN (9,10))
					SET @CDTRANSPORTADORA = 206272
                                                       
				-- BUSCA MAX(DHALTER) DA TOP
				SELECT 
					@P_DHALTER_TOP = MAX(DHALTER) 
				FROM TGFTOP WITH(NOLOCK)
				WHERE 
					CODTIPOPER = @CDTIPOPEDIDO;
				
				--BUSCA MAX(DHALTER) DA TOP E TPV
				SELECT 
					@P_DHALTER_TPV = MAX(DHALTER) 
				FROM TGFTPV WITH(NOLOCK)
				WHERE 
					CODTIPVENDA = @CDCONDICAOPAGAMENTO;
               				      
				--VERIFICA TIPO DE ATUALIZACAO DE ESTOQUE DA TOP
				SELECT 
					@P_ATUALEST = ATUALEST 
				FROM TGFTOP WITH(NOLOCK)
				WHERE 
					CODTIPOPER = @CDTIPOPEDIDO 
				AND DHALTER = @P_DHALTER_TOP;

				SELECT @P_EST = (
					CASE
							WHEN @P_ATUALEST = 'E' THEN
								1
							WHEN @P_ATUALEST = 'B' THEN
								-1
							WHEN @P_ATUALEST = 'N' THEN
								0
							WHEN @P_ATUALEST = 'R' THEN
								1
					END
								);
				    
				IF (@P_ATUALEST = 'R')
					BEGIN
						SET @P_RESERVA ='S';
					END;

				-- BUSCA NUTAB                              
				SELECT 
					@P_NUTAB = T.NUTAB
				FROM TGFTAB T WITH(NOLOCK)
				WHERE 
					T.CODTAB = @CDTABELAPRECO
				AND T.DTVIGOR = (SELECT MAX(DTVIGOR)
								FROM TGFTAB M WITH(NOLOCK)
								WHERE M.CODTAB = @CDTABELAPRECO
								AND M.DTVIGOR <= @DTFECHAMENTO
								);
			
			-- CALCULA A RETENCAO DO FLEX BASEADO NO PARAMETRO
			SELECT 
				@P_RETENCAO = ISNULL(NUMDEC,0)   
			FROM TSIPAR WITH(NOLOCK)
			WHERE 
				CHAVE = 'PERCRETENCAO';

			-- BUSCA LOCAL DE ESTOQUE PADRAO NO CADASTRO DE EMPRESA (COMERCIAL)
			SELECT 
				@P_CODLOCAL = ISNULL(MAX(LOCALPAD),0) 
			FROM TGFEMP WITH(NOLOCK)
			WHERE 
				CODEMP = @CDEMPRESA;
			
			-- BUSCA LOCAL DE ESTOQUE PADRAO VIA PARAMETRO
			SELECT 
				@P_CODLOCALPADRAO = INTEIRO 
			FROM TSIPAR WITH(NOLOCK)
			WHERE 
				CHAVE = 'LOCALPADRAO' 
			AND CODUSU = '0';
				              
			BEGIN TRANSACTION;

			-- INCLUI CABEALHO DO PEDIDO
			INSERT INTO TGFCAB (
								/*1*/ NUNOTA, CODEMP, NUMNOTA, SERIENOTA, CODCENCUS,
								/*2*/ DTNEG, DTENTSAI, DTMOV, HRMOV, CODEMPNEGOC,
								/*3*/ CODPARC, CODTIPOPER, DHTIPOPER, CODTIPVENDA, DHTIPVENDA,
								/*4*/ CODVEND, DTALTER, CODUSU, CODUSUINC, TIPFRETE, CIF_FOB,
								/*5*/ CODNAT, CODPROJ, ISSRETIDO, IRFRETIDO, OBSERVACAO,
								/*6*/ AD_PEDIDOWMW, CODPARCDEST, VLRNOTA, DTPREVENT, AD_STATUSPGTO, 
								/*7*/ AD_CODCOMOSOUBE, AD_CODAUT, AD_BANDEIRACARD, AD_IDMOD, VLRFRETE, 
								/*8*/ CODPARCTRANSP, AD_PEDORIGINAL, AD_SETORPED, AD_NUROCARTAO, AD_DOCCARTAO, 
								/*9*/ AD_NOMECLI, AD_CPFCLI, AD_CODREENVIO 
								)
						VALUES (
								/*1*/ @P_NUNOTA, @CDEMPRESA, @P_NUMNOTA, @P_SERIE, @P_CENCUS,
								/*2*/ @P_DATA, @P_DATA, @P_DATA, @HRMOV, @CDEMPRESA,
								/*3*/ @CDCLIENTE, @CDTIPOPEDIDO, @P_DHALTER_TOP, @CDCONDICAOPAGAMENTO, @P_DHALTER_TPV,
								/*4*/ @CDUSUARIOEMISSAO, @P_DTHORA, 426, 426, 'S', 'F',
								/*5*/ @P_NAT, 0, 'N', 'S', @DSOBSERVACAO,
								/*6*/ @NUPEDIDOAUX, @CDCLIENTE, @VLTOTALPEDIDO, @DTENTREGA, 'P', 
								/*7*/ @CDMEIOCOMUNICACAO, @CDSEGCARTAO, @BANDEIRACARTAO, @CDTIPOSERVICOFRETE, @VLFRETE, 
								/*8*/ ISNULL(@CDTRANSPORTADORA, '36024'), @NUPEDIDOAUX, @P_AD_SETORVEND, @NUCARTAO, @CDDOCCARTAO, 
								/*9*/ @NMTITULARCARTAO, @CPFTITULARCARTAO, 0
								);
                                   

                    
			DECLARE CURSORITEMPEDIDO CURSOR LOCAL FOR
				SELECT 
					CDPRODUTO, CDPRODUTOKIT, QTITEMFISICO, FLKIT, FLCOMPONENTE,
					USOPROD, CDUNIDADE, CODVOL, CODLOCALPADRAO, VLITEMPEDIDO, 
					VLBASEITEMPEDIDO, VLCUSTOITEM, VLCUSTOKIT, VLPCTDESCONTO, VLPCTACRESCIMO, 
					VLVERBAITEM, VLVERBAITEMPOSITIVO, NUSEQITEMPEDIDO
				FROM #ITEMPEDIDO
				ORDER BY NUSEQITEMPEDIDO
			OPEN CURSORITEMPEDIDO
			FETCH NEXT FROM CURSORITEMPEDIDO INTO @CDPRODUTO, @CDPRODUTOKIT, @QTITEMFISICO, @FLKIT, @FLCOMPONENTE,
												  @USOPROD, @CDUNIDADE, @CODVOL, @CODLOCALPADRAO, @VLITEMPEDIDO, 
												  @VLBASEITEMPEDIDO, @VLCUSTOITEM, @VLCUSTOKIT, @VLPCTDESCONTO, @VLPCTACRESCIMO, 
												  @VLVERBAITEM, @VLVERBAITEMPOSITIVO, @NUSEQITEMPEDIDO 
			WHILE @@FETCH_STATUS = 0
			BEGIN
				BEGIN TRY
									
				SET @NUSEQITEMPEDIDO = ISNULL((SELECT MAX(SEQUENCIA) FROM TGFITE WITH(NOLOCK) WHERE NUNOTA = @P_NUNOTA),0)+1;
									
				-- CUSTOMIZACAO EDITORA
				IF (@FLKIT = 'S')
					BEGIN
						IF (@FLCOMPONENTE = 'S')
							BEGIN
								SET @CDPRODUTO = @CDPRODUTOKIT;
							END
						ELSE
							BEGIN
								SET @CDPRODUTO = @CDPRODUTO;
								SET @P_NUSEQITEMPEDIDOPAI = @NUSEQITEMPEDIDO;
							END
					END
				ELSE
					BEGIN
						SET @CDPRODUTO = @CDPRODUTO;
						SET @P_NUSEQITEMPEDIDOPAI = 0;
					END;
									
				-- BUSCA PROPRIEDADES PRODUTO 
				IF (@FLCOMPONENTE = 'S')
					BEGIN
						SET @P_VLCUSTO = @VLCUSTOITEM
					END
				ELSE
					BEGIN
						SET @P_VLCUSTO = @VLCUSTOKIT
					END    
									
				-- BUSCA LOCAL PADRAO POR PRODUTO, OU DO PARAMETRO GLOBAL
				IF (@CODLOCALPADRAO IS NOT NULL) AND (@P_CODLOCAL = 0)
					BEGIN
						SET @P_CODLOCAL = @CODLOCALPADRAO; 
					END
				IF (@CODLOCALPADRAO IS NULL) AND (@P_CODLOCAL = 0)
					BEGIN
						SET @P_CODLOCAL = @P_CODLOCALPADRAO; 
					END;
                                                    
				--BUSCA VALORES DO ITEM
				SET @P_QTDITEM = @QTITEMFISICO;
				SET @P_VLITEMPEDIDO = @VLITEMPEDIDO;
				SET @P_VLBASEITEMPEDIDO = @VLBASEITEMPEDIDO;
				SET @P_VLBASEITEMTABELAPRECO = @VLBASEITEMTABELAPRECO;
                                                                         
				-- TRATA DESCONTOS PROMOCIONAIS E DESCONTOS NORMAIS
				IF (@FLPROMOCAO = 'S') 
					BEGIN
						SET @P_VLRDESCONTO = ROUND(((@VLBASEITEMTABELAPRECO * @QTITEMFISICO) * @VLPCTDESCPROMOCIONAL/100),2);
						SET @VLPCTDESCONTO = @VLPCTDESCPROMOCIONAL;
						SET @P_VLBASEITEMPEDIDO = @VLBASEITEMTABELAPRECO;
					END
				ELSE
					BEGIN
						SET @P_VLRDESCONTO = ROUND(((@VLBASEITEMPEDIDO * @QTITEMFISICO) * @VLPCTDESCONTO/100),2);
					END;
    
				IF (@CODVOL <> @CDUNIDADE)
				BEGIN
					SET @CODVOL = @CDUNIDADE;
					SELECT @P_QTDUNALTER = NUCONVERSAOUNIDADE, @P_OPERACAOUNALTER = FLDIVIDEMULTIPLICA
						FROM TBLVWPRODUTOUNIDADE WITH (NOLOCK)
					WHERE 
						CDPRODUTO = @CDPRODUTO
					AND CDUNIDADE = @CDUNIDADE
					AND CDEMPRESA = @CDEMPRESA
					AND CDREPRESENTANTE = 0;
                                    
					IF (@P_OPERACAOUNALTER = 'M')
						BEGIN
							SET @P_QTDITEM  = @P_QTDITEM * @P_QTDUNALTER;
							SET @P_VLITEMPEDIDO  = @VLITEMPEDIDO / @P_QTDUNALTER;
							SET @P_VLBASEITEMPEDIDO = @P_VLBASEITEMPEDIDO / @P_QTDUNALTER;
							SET @P_VLBASEITEMTABELAPRECO = @P_VLBASEITEMPEDIDO / @P_QTDUNALTER;
						END
					ELSE
						BEGIN
							SET @P_QTDITEM = @P_QTDITEM / @P_QTDUNALTER;
							SET @P_VLITEMPEDIDO = @VLITEMPEDIDO * @P_QTDUNALTER;
							SET @P_VLBASEITEMPEDIDO = @P_VLBASEITEMPEDIDO * @P_QTDUNALTER;
							SET @P_VLBASEITEMTABELAPRECO = @P_VLBASEITEMPEDIDO  * @P_QTDUNALTER;
						END
				END
				ELSE
					BEGIN
						SET @P_VLBASEITEMTABELAPRECO = @P_VLBASEITEMPEDIDO;
					END
                                    
				-- DEFINE VALOR A SER GRAVADO NO CAMPO VLRACRESDESC
				IF (@VLVERBAITEM < 0 AND @FLCOMPONENTE = 'N')
					BEGIN
						SET @P_VLRACRESCDESC = @VLVERBAITEM;
					END
				ELSE
					BEGIN
						SET @P_VLRACRESCDESC = @VLVERBAITEMPOSITIVO;
					END;
                                            
				-- BUSCA VALOR BASE PARA INSERIR NA COLUNA PRECOBASE      
				IF (@VLBASEFLEX = 0 AND @FLCOMPONENTE = 'N')
					BEGIN
						SET @P_PRECOBASE = @P_VLBASEITEMPEDIDO;
					END
				ELSE
					BEGIN
						SET @P_PRECOBASE = @VLBASEFLEX;
					END;                   
           
				-- RETENCAO DO FLEX
				SET @P_VLRETENCAO = 0;
				IF (ISNULL(@P_VLRACRESCDESC,0) > 0)
					BEGIN
						SET @P_VLRETENCAO = ISNULL(@P_VLRACRESCDESC,0) * @P_RETENCAO;
					END;
                                            
				-- ENCONTRA O VALOR TOTAL DO ITEM 
				SET @P_VLTOTALITEMPEDIDO = @P_VLBASEITEMPEDIDO * @P_QTDITEM;
                                          
				-- TRATA O DESCONTO NEGATIVO
				IF (@P_VLRDESCONTO <= 0)
					BEGIN
						SET @P_VLRDESCONTO = 0;
					END;
														
				-- INCLUI ITENS NO PEDIDO
				INSERT INTO TGFITE (
									/*1*/ NUTAB, NUNOTA, SEQUENCIA, CODEMP, CODPROD, 
									/*2*/ CODLOCALORIG, CONTROLE, USOPROD, CODCFO, QTDNEG, 
									/*3*/ QTDENTREGUE, QTDCONFERIDA, VLRUNIT, VLRTOT, VLRCUS, 
									/*4*/ BASEIPI, VLRIPI, BASEICMS, VLRICMS, VLRDESC, 
									/*5*/ BASESUBSTIT, VLRSUBST, ALIQICMS, ALIQIPI, PENDENTE, 
									/*6*/ CODVOL, CODTRIB, ATUALESTOQUE, OBSERVACAO, RESERVA, 
									/*7*/ STATUSNOTA, BASESTANT, CODVEND, CODEXEC, FATURAR,
									/*8*/ VLRREPRED, VLRDESCBONIF, PERCDESC, M3, ALIQICMSRED, 
									/*9*/ CODPARCEXEC, CUSTO, BASESUBSTSEMRED, CODUSU, DTALTER, 
									/*10*/SOLCOMPRA, ATUALESTTERC, TERCEIROS, PRECOBASE, VLRACRESCDESC, 
									/*11*/VLRRETENCAO, CSTIPI, QTDWMS, BASESTUFDEST, VLRICMSUFDEST, 
									/*12*/VLRPROMO, QTDPECA, NUPROMOCAO, PERCDESCTGFDES
									)
							VALUES (
									/*1*/ @P_NUTAB, @P_NUNOTA, @NUSEQITEMPEDIDO, @CDEMPRESA, @CDPRODUTO, 
									/*2*/ 0, ' ', @USOPROD, 0, @P_QTDITEM, 
									/*3*/ 0, 0, @P_VLBASEITEMPEDIDO, @P_VLTOTALITEMPEDIDO, @P_VLCUSTO, 
									/*4*/ 0, 0, 0, 0, ISNULL(@P_VLRDESCONTO,0),
									/*5*/ 0, 0, 0, 0, 'S',
									/*6*/ @CODVOL, 0, @P_EST, NULL, @P_RESERVA, 
									/*7*/ 'A', 0, 0, 0, 'S',
									/*8*/ 0, 0, @VLPCTDESCONTO, 0, 0, 
									/*9*/ 0, 0, 0, 426, @P_DTHORA, 
									/*10*/'N', 'N', 'N', @P_PRECOBASE, @P_VLRACRESCDESC, 
									/*11*/@P_VLRETENCAO, 0, 0, 0, 0, 
									/*12*/0, @P_QTDITEM, @VLPCTDESCONTOINFO, @VLPCTDESCONTO
						);    
                                    
				-- CUSTOMIZACAO EDITORA
				IF (@P_NUSEQITEMPEDIDOPAI > 0 AND @FLCOMPONENTE = 'S')
					BEGIN
						-- INCLUI COMPONENTES DO KIT NA TGFVAR
						INSERT INTO TGFVAR (
											/*1*/ NUNOTA, SEQUENCIA ,NUNOTAORIG, SEQUENCIAORIG, QTDATENDIDA,
											/*2*/ STATUSNOTA
											)
									VALUES (
											/*1*/ @P_NUNOTA, @NUSEQITEMPEDIDO, @P_NUNOTA, @P_NUSEQITEMPEDIDOPAI, NULL,
											/*2*/ 'A'
											);
										
										
					END;
				END TRY
				BEGIN CATCH
					SET @ERRORNUM = ERROR_NUMBER();
					SET @ERRORMSG = ERROR_MESSAGE();
					SET @ERRORSEVERITY = ERROR_SEVERITY();
					CLOSE CURSORITEMPEDIDO
					DEALLOCATE CURSORITEMPEDIDO
					RAISERROR (@ERRORMSG, 
						@ERRORSEVERITY, 
						@ERRORNUM 
					);
				END CATCH
                                    
                                          
			FETCH NEXT FROM CURSORITEMPEDIDO INTO @CDPRODUTO, @CDPRODUTOKIT, @QTITEMFISICO, @FLKIT, @FLCOMPONENTE,
												  @USOPROD, @CDUNIDADE, @CODVOL, @CODLOCALPADRAO, @VLITEMPEDIDO, 
												  @VLBASEITEMPEDIDO, @VLCUSTOITEM, @VLCUSTOKIT, @VLPCTDESCONTO, @VLPCTACRESCIMO, 
												  @VLVERBAITEM, @VLVERBAITEMPOSITIVO, @NUSEQITEMPEDIDO
			END
			CLOSE CURSORITEMPEDIDO
			DEALLOCATE CURSORITEMPEDIDO
							
                                  
                        
							SELECT @P_SOMAPEDIDO = SUM(VLRTOT - VLRDESC) + @VLFRETE
							FROM TGFITE WITH(NOLOCK)
							WHERE NUNOTA = @P_NUNOTA AND SEQUENCIA > 0 AND USOPROD <> 'D';                              
                                  
							IF (ISNULL(@P_SOMAPEDIDO,10)>0)
							BEGIN
								UPDATE TGFCAB 
								SET VLRNOTA = @P_SOMAPEDIDO, VLRDESCTOTITEM = @P_SOMADESC
								WHERE NUNOTA = @P_NUNOTA;
                             
								-- ATUALIZA FLCONTROLEERP DO PEDIDO
								UPDATE TBLVWPEDIDO 
								SET FLCONTROLEERP = 'E', DSMENSAGEMCONTROLEERP = 'PEDIDO ENVIADO COM SUCESSO',
									NUPEDIDORELACIONADO = @P_NUNOTA, DTENVIOERP = @P_DTHORA
								WHERE
								  CDEMPRESA = @CDEMPRESA  AND
								  CDREPRESENTANTE = @CDREPRESENTANTE AND
								  FLORIGEMPEDIDO = @FLORIGEMPEDIDOAUX AND
								  NUPEDIDO = @NUPEDIDOAUX;
                            
                               
								-- ATUALIZA FLCONTROLEERP DO ITEM DO PEDIDO
								UPDATE TBLVWITEMPEDIDO 
								SET FLCONTROLEERP = 'E', DSMENSAGEMCONTROLEERP = 'ITEM ENVIADO COM SUCESSO'
								WHERE
								  CDEMPRESA = @CDEMPRESA  AND
								  CDREPRESENTANTE = @CDREPRESENTANTE AND
								  FLORIGEMPEDIDO = @FLORIGEMPEDIDOAUX AND
								  NUPEDIDO = @NUPEDIDOAUX;
								IF NOT EXISTS(SELECT 1 FROM AD_PEDIDOVTEXSC WITH(NOLOCK) WHERE PEDORIGINAL = @NUPEDIDOAUX)
								BEGIN
									INSERT INTO AD_PEDIDOVTEXSC (ORDERID, PEDORIGINAL, CODLOJA, CODVEND, MARKETPLACEORDERID, CODPROMOCAO, POSSUICURSODIGITAL, POSSUICANALDOARTESANATO, CODPARC, IDXPED, IDXITENS)
									VALUES (CONVERT(VARCHAR(100), @NUPEDIDOAUX) + '-WMWVendas', @NUPEDIDOAUX, 0, @CDUSUARIOEMISSAO, @NUPEDIDOAUX, 0, 'N', 'N', @CDCLIENTE, 'N', 'N');
								END

								IF NOT EXISTS(SELECT 1 FROM AD_PEDIDOVTEXSCFLUXO WITH(NOLOCK) WHERE PEDORIGINAL = @NUPEDIDOAUX AND OCORRENCIA = 'P')
								BEGIN
									INSERT INTO AD_PEDIDOVTEXSCFLUXO (ORDERID, PEDORIGINAL, NUNOTA, OCORRENCIA, DATA, CODUSU)
									VALUES (CONVERT(VARCHAR(100), @NUPEDIDOAUX) + '-WMWVendas', @NUPEDIDOAUX, @P_NUNOTA, 'P', GETDATE(), 426);
								END
                                              
								COMMIT;
							END
							ELSE
							BEGIN            
								ROLLBACK;
								UPDATE TBLVWPEDIDO SET FLCONTROLEERP = 'X', DSMENSAGEMCONTROLEERP = 'ERRO AO ENVIAR O PEDIDO SEM ITENS', DTENVIOERP = @P_DTHORA
								WHERE
									CDEMPRESA = @CDEMPRESA  AND
									CDREPRESENTANTE = @CDREPRESENTANTE AND
									FLORIGEMPEDIDO = @FLORIGEMPEDIDOAUX AND
									NUPEDIDO = @NUPEDIDOAUX;          
							END;          
               
			END TRY
			BEGIN CATCH 
                
				SET @ERRORNUM = ISNULL(@ERRORNUM,ERROR_NUMBER());
				SET @ERRORMSG = ISNULL(@ERRORMSG,ERROR_MESSAGE());
                
				IF @@TRANCOUNT > 0
					ROLLBACK;

				UPDATE TBLVWPEDIDO 
					SET FLCONTROLEERP = 'X', DSMENSAGEMCONTROLEERP = 'ERRO AO ENVIAR O PEDIDO: ' + @ERRORNUM + ' ' + SUBSTRING(@ERRORMSG, 1, 4000), 
						DTENVIOERP = @P_DTHORA
				WHERE
					CDEMPRESA = @CDEMPRESA  
				AND CDREPRESENTANTE = @CDREPRESENTANTE 
				AND FLORIGEMPEDIDO = @FLORIGEMPEDIDOAUX 
				AND NUPEDIDO = @NUPEDIDOAUX;
				--SET @RETORNO = 'ERRO';
           
			END CATCH;
                
		FETCH NEXT FROM CURSORPEDIDO INTO @CDCLIENTE, @CDTIPOPEDIDO, @CDTABELAPRECO, @CDCONDICAOPAGAMENTO, @CDUSUARIOEMISSAO, 
										  @DTENTREGA, @DTFECHAMENTO, @DSOBSERVACAO, @VLTOTALPEDIDO, @CDMEIOCOMUNICACAO, 
										  @CDTIPOSERVICOFRETE, @VLFRETE, @CDTRANSPORTADORA, @CDSEGCARTAO, @NUCARTAO, 
										  @CDDOCCARTAO, @NMTITULARCARTAO, @CPFTITULARCARTAO
		END
		CLOSE CURSORPEDIDO
		DEALLOCATE CURSORPEDIDO
	
	END TRY
	BEGIN CATCH

		SET @ERRORMSG = ISNULL(@ERRORMSG,ERROR_MESSAGE());
                
		IF @@TRANCOUNT > 0
			ROLLBACK;
                  
	--	SET @RETORNO = 'ERRO: ' + @ERRORMSG;

	END CATCH;	 
END
