USE [SANKHYA_PRODUCAO]
GO
/****** Object:  Trigger [sankhya].[TRG_INC_UPD_AD_PRODUTOLOJA_AD_MULTILOJA]    Script Date: 18/07/2017 14:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Guilherme Branco Stracini
-- Create date: 29/01/2015
-- Description:	Divide a porcentagem de estoque igualmente entre as lojas ativas. No caso do saldo ser inferior a quantidade de lojas ativas, redireciona todo saldo para a loja prioritária.
-- =============================================
ALTER TRIGGER [sankhya].[TRG_INC_UPD_AD_PRODUTOLOJA_AD_MULTILOJA] 
   ON  [sankhya].[AD_PRODUTOLOJA] 
   AFTER INSERT, UPDATE
AS 
DECLARE
@CODPROD INT,
@CODLOJA INT,
@ATIVAS INT,
@PORCENTAGEM FLOAT,
@NOVALINHA CHAR(2),
@SOLICITANTE CHAR(30),
@ATIVO CHAR(3),
@ATIVOPRO CHAR(1),
@SALDO FLOAT, --DECIMAL(6,2),
@PORLOJA FLOAT,
@CODLOJATOTALIDADE INT,
@CODLOJAPRIO INT,
@SOMAPORCENTAGEM MONEY
BEGIN
	SET NOCOUNT ON;
	SET @NOVALINHA = CHAR(13) + CHAR(10);
	SELECT @CODPROD = CODPROD, @CODLOJA = CODLOJA, @ATIVO = ATIVO FROM INSERTED;
	SELECT @ATIVOPRO = ATIVO FROM TGFPRO WITH (NOLOCK) WHERE CODPROD = @CODPROD;
	SELECT @SALDO = ESTOQUE, @CODLOJAPRIO = CODLOJAPRIO FROM AD_MULTILOJA WITH (NOLOCK) WHERE CODPROD = @CODPROD;
	IF(UPDATE(ATIVO) AND @ATIVO = 'S' AND @ATIVOPRO = 'N')
	BEGIN
		SELECT @SOLICITANTE = SUBSTRING(program_name,1,30) FROM MASTER.DBO.SYSPROCESSES WITH (NOLOCK) WHERE SPID = @@SPID;
		RAISERROR('Produto está inativo na tela de Produtos/Kits.%sAtive-o primeiro antes de iniciar a venda pela Multiloja', 16, 1, @NOVALINHA);	
		IF (UPPER(@SOLICITANTE) LIKE 'MICROSOFT%') OR (@SOLICITANTE = 'MS SQLEM') OR (@SOLICITANTE = 'MS SQL QUERY ANALYZER')
			ROLLBACK TRANSACTION;
	END
		
	/* VERIFICA SE O PRODUTO/KIT É D. OU TEM ALGUM ITEM D. */
	IF(UPDATE(ATIVO) AND @ATIVO = 'S' AND sankhya.VERIFICA_DPONTO(@CODPROD) = 'S')
	BEGIN
		SELECT @SOLICITANTE = SUBSTRING(program_name,1,30) FROM MASTER.DBO.SYSPROCESSES WITH (NOLOCK) WHERE SPID = @@SPID;
		RAISERROR('O produto é um item D. ou o Kit contém algum item D.%sNão foi possível liberar este item para venda.', 16, 1, @NOVALINHA);	
		IF (UPPER(@SOLICITANTE) LIKE 'MICROSOFT%') OR (@SOLICITANTE = 'MS SQLEM') OR (@SOLICITANTE = 'MS SQL QUERY ANALYZER')
			ROLLBACK TRANSACTION;
	END

	IF UPDATE(ATIVO)
	BEGIN
		SELECT @ATIVAS = COUNT(*) FROM AD_PRODUTOLOJA WITH (NOLOCK) WHERE CODPROD = @CODPROD AND ATIVO = 'S';
		SET @PORCENTAGEM = 100.00;
		SET @PORLOJA = @SALDO;

		IF @ATIVAS > 0
		BEGIN
			SET @PORCENTAGEM = 100.00 / @ATIVAS;
			SET @PORLOJA = @SALDO / @ATIVAS;
		END

		IF @PORLOJA >= 1 OR @SALDO = 0
		BEGIN
			UPDATE AD_PRODUTOLOJA SET PESTTLOJA = @PORCENTAGEM WHERE CODPROD = @CODPROD AND ATIVO = 'S';
			UPDATE AD_PRODUTOLOJA SET PESTTLOJA = 0 WHERE CODPROD = @CODPROD AND ATIVO = 'N';
			SELECT @SOMAPORCENTAGEM = SUM(CAST(PESTTLOJA AS DECIMAL(6,2))) FROM AD_PRODUTOLOJA WITH (NOLOCK) WHERE CODPROD = @CODPROD AND ATIVO = 'S';
			IF @SOMAPORCENTAGEM < 100.00 
			AND EXISTS (SELECT 1 FROM AD_PRODUTOLOJA WITH (NOLOCK) WHERE CODPROD = @CODPROD AND ATIVO = 'S' AND CODLOJA = 0)
				UPDATE AD_PRODUTOLOJA
				SET PESTTLOJA = PESTTLOJA + 100 - @SOMAPORCENTAGEM
				WHERE CODPROD = @CODPROD
				AND CODLOJA = 0;
		END
		ELSE
		BEGIN
			UPDATE AD_PRODUTOLOJA SET PESTTLOJA = 0 WHERE CODPROD = @CODPROD;			
			IF EXISTS(SELECT 1 FROM AD_PRODUTOLOJA WITH (NOLOCK) WHERE CODPROD = @CODPROD AND ATIVO = 'S' AND CODLOJA = @CODLOJAPRIO)
				SET @CODLOJATOTALIDADE = @CODLOJAPRIO;
			ELSE IF @CODLOJAPRIO != 1 AND EXISTS(SELECT 1 FROM AD_PRODUTOLOJA WITH (NOLOCK) WHERE CODPROD = @CODPROD AND ATIVO = 'S' AND CODLOJA = 1)
				SET @CODLOJATOTALIDADE = 1;
			ELSE 
				SELECT @CODLOJATOTALIDADE = MIN(CODLOJA) FROM AD_PRODUTOLOJA WITH (NOLOCK) WHERE CODPROD = @CODPROD AND ATIVO = 'S';
				
			UPDATE AD_PRODUTOLOJA SET PESTTLOJA = 100 WHERE CODPROD = @CODPROD AND CODLOJA = @CODLOJATOTALIDADE;
		END		
		UPDATE P 
		SET P.AD_PESTTVENDA =	L.PESTTLOJA, 
			P.AD_UTITVENDA =	L.ATIVO
		FROM TGFPRO AS P WITH (NOLOCK)
		INNER JOIN AD_PRODUTOLOJA AS L
		ON (L.CODPROD = P.CODPROD)
		WHERE L.CODLOJA = 0 AND L.CODPROD = @CODPROD;
	END
END