USE [SANKHYA_PRODUCAO]
GO
/****** Object:  Trigger [sankhya].[TRG_UPD_TGFITE_DESCKIT_ITENS]    Script Date: 04/10/2017 18:04:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		RODRIGO LACALENDOLA
-- Create date: 2015-10-02
-- Description:	REALIZA O RATEIO DO DESCONTO PARA OS ITENS DO KIT
-- =============================================
ALTER TRIGGER [sankhya].[TRG_UPD_TGFITE_DESCKIT_ITENS] ON [sankhya].[TGFITE]
AFTER INSERT, UPDATE AS  
BEGIN

SET NOCOUNT ON

  
DECLARE
@I_NUNOTA			INT,
@I_CODPROD			INT,
@I_SEQUENCIA		INT,
@I_CODTIPOPER		int,
@K_VLRDESC			float,
@K_PERCDESC			DECIMAL(18,2),
@K_CODVOL			CHAR(2),
@K_CODPROD			INT,
@K_SEQUENCIA		INT,
@D_SEQUENCIA		INT,
@MAXSEQUENCIA		INT,
@DESCATUAL			DECIMAL(18,2),
@MAXITENSICP		INT,
@MAXITENSITE		INT
	

		-- OBTEM OS DADOS DA NOTA (INSERIDA - NOVAS ALTERAÇÕES)
		SELECT
		@I_CODPROD = I.CODPROD,
		@I_SEQUENCIA = i.SEQUENCIA,
		@I_NUNOTA = i.NUNOTA,
		@I_CODTIPOPER = CODTIPOPER
		FROM inserted i inner join sankhya.TGFCAB cab with(nolock) on cab.nunota = i.nunota

		if @I_CODTIPOPER in (500,501,502,503,504,515,520,550,561)
		begin

			/* OBTEM OS DADOS DO KIT */
			SELECT DISTINCT
			@K_SEQUENCIA = KIT.SEQUENCIA,
			@K_CODVOL = KIT.CODVOL,
			@K_PERCDESC = KIT.PERCDESC,
			@K_VLRDESC = KIT.VLRDESC,
			@K_CODPROD = KIT.CODPROD
			FROM sankhya.TGFITE ite with(nolock)
			INNER JOIN sankhya.TGFVAR V  with(nolock) ON V.NUNOTA = ITE.NUNOTA AND V.SEQUENCIA = ITE.SEQUENCIA
			INNER JOIN sankhya.TGFITE KIT  with(nolock) ON KIT.NUNOTA = V.NUNOTA AND KIT.SEQUENCIA = V.SEQUENCIAORIG
			inner join sankhya.TGFICP ICP  with(nolock) ON ICP.CODPROD = KIT.CODPROD AND ICP.CODMATPRIMA = ITE.CODPROD AND (AD_BRINDE IS NULL OR AD_BRINDE = 'N')
			WHERE ITE.NUNOTA = @I_NUNOTA and ITE.SEQUENCIA = @I_SEQUENCIA


			
			/* VERIFICAR SE FOI ALTERADO O DESCONTO DO KIT */
			IF @K_CODVOL = 'KT' AND @K_PERCDESC != 0 AND @@NESTLEVEL < 6
			BEGIN


				/* VERIFICA QUAL É O ÚLTIMO ITEM DESTE KIT */
				--SELECT @MAXSEQUENCIA = MAX(ite.SEQUENCIA)
				--FROM sankhya.TGFITE ite  with(nolock)
				--INNER JOIN sankhya.TGFVAR V  with(nolock) ON V.NUNOTA = ITE.NUNOTA AND V.SEQUENCIA = ITE.SEQUENCIA 
				--INNER JOIN sankhya.TGFITE KIT  with(nolock) ON KIT.NUNOTA = V.NUNOTA AND KIT.SEQUENCIA = V.SEQUENCIAORIG
				--inner join sankhya.TGFICP ICP  with(nolock) ON ICP.CODPROD = KIT.CODPROD AND ICP.CODMATPRIMA = ITE.CODPROD AND (AD_BRINDE IS NULL OR AD_BRINDE = 'N')
				--WHERE ITE.NUNOTA = @I_NUNOTA and KIT.SEQUENCIA = @K_SEQUENCIA


				/* VERIFICA A QUANTIDADE MÁXIMA DE ITENS NO KIT NA TABELA DE KITS */
				SELECT @MAXITENSICP = COUNT(DISTINCT ICP.CODMATPRIMA)
				FROM sankhya.TGFITE ite  with(nolock)
				INNER JOIN sankhya.TGFVAR V  with(nolock) ON V.NUNOTA = ITE.NUNOTA AND V.SEQUENCIA = ITE.SEQUENCIA 
				INNER JOIN sankhya.TGFITE KIT  with(nolock) ON KIT.NUNOTA = V.NUNOTA AND KIT.SEQUENCIA = V.SEQUENCIAORIG
				inner join sankhya.TGFICP ICP  with(nolock) ON ICP.CODPROD = KIT.CODPROD
				WHERE ITE.NUNOTA = @I_NUNOTA and KIT.SEQUENCIA = @K_SEQUENCIA



				/* VERIFICA A QUANTIDADE MÁXIMA DE ITENS NO KIT INSERIDO NA NOTA EM QUESTÃO */
				SELECT @MAXITENSITE = COUNT(ITE.CODPROD)
				FROM sankhya.TGFITE ite  with(nolock)
				INNER JOIN sankhya.TGFVAR V  with(nolock) ON V.NUNOTA = ITE.NUNOTA AND V.SEQUENCIA = ITE.SEQUENCIA 
				INNER JOIN sankhya.TGFITE KIT  with(nolock) ON KIT.NUNOTA = V.NUNOTA AND KIT.SEQUENCIA = V.SEQUENCIAORIG
				inner join sankhya.TGFICP ICP  with(nolock) ON ICP.CODPROD = KIT.CODPROD AND ICP.CODMATPRIMA = ITE.CODPROD AND (AD_BRINDE IS NULL OR AD_BRINDE = 'N')
				WHERE ITE.NUNOTA = @I_NUNOTA and KIT.SEQUENCIA = @K_SEQUENCIA


		
				/* VERIFICA SE É A ULTIMA SEQUENCIA*/
				IF (@MAXITENSICP != @MAXITENSITE)
				BEGIN
						
					/* SE NAO FOR, ALTERAR O VALOR DESCONTO DO ITEM DE ACORDO COM A PORCENTAGEM */
					UPDATE sankhya.TGFITE SET PERCDESC = ROUND(@K_PERCDESC,2), VLRDESC = round((VLRTOT*@K_PERCDESC)/100,2)
					WHERE NUNOTA = @I_NUNOTA AND SEQUENCIA = @I_SEQUENCIA
				END-- IF
			
				/* CASO SEJA A ULTIMA SEQUENCIA, VAMOS CONFERIR O DESCONTO*/
				ELSE
				BEGIN


					/* VERIFICA A SOMA DE DESCONTOS ATUAIS */
					SELECT @DESCATUAL = SUM(ISNULL(ite.VLRDESC,0))
					FROM sankhya.TGFITE ite  with(nolock)
					INNER JOIN sankhya.TGFVAR V  with(nolock) ON V.NUNOTA = ITE.NUNOTA AND V.SEQUENCIA = ITE.SEQUENCIA AND V.NUNOTAORIG = V.NUNOTA
					INNER JOIN sankhya.TGFITE KIT  with(nolock) ON KIT.NUNOTA = V.NUNOTA AND KIT.SEQUENCIA = V.SEQUENCIAORIG
					inner join sankhya.TGFICP ICP  with(nolock) ON ICP.CODPROD = KIT.CODPROD AND ICP.CODMATPRIMA = ITE.CODPROD AND (AD_BRINDE IS NULL OR AD_BRINDE = 'N')
					WHERE ITE.NUNOTA = @I_NUNOTA AND ITE.SEQUENCIA != @I_SEQUENCIA  and KIT.SEQUENCIA = @K_SEQUENCIA
				
					/* ALTERAR O VALOR DESCONTO DO ITEM, SENDO A DIFERENÇA ENTRE O ATUAL E O DO KIT */
					UPDATE sankhya.TGFITE SET PERCDESC = ROUND(@K_PERCDESC,2), VLRDESC = ROUND(@K_VLRDESC-ISNULL(@DESCATUAL,0),2)
					WHERE NUNOTA = @I_NUNOTA AND SEQUENCIA = @I_SEQUENCIA
					
				END--ELSE

			END--if codvol = kt

		end--if codtipoper

END -- GERAL