USE [SANKHYA_PRODUCAO]
GO
/****** Object:  Trigger [sankhya].[TRG_UPD_TGFCAB_CURSO_ONLINE]    Script Date: 20/04/2018 19:51:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*	=============================================
	Author:			Rodrigo Lacalendola
	Create date:	2015-10-29
	Description:	Cria nota (TGFCAB) para pedidos de curso online (Nota de venda)

	Author:			Guilherme Branco Stracini
	Change date:	2017-05-05
	Description:	Documentado, adicionado ao repositório e alterado campo AD_ID para AD_CODCOMOSOUBE.

	Author:			Rafael Turra Silva
	Change date:	2017-10-04
	Description:	Retirado do select na linha 112 (AND C.USOPROD = 'R'), para que seja possível colocar curso online no KIT.

	Author:			Guilherme Branco Stracini
	Change date:	2018-02-08
	Description:	Caso o código de CFOP (CODCFO) venha com o valor 0 utiliza o valor 5102 (linhas 231 e 232)

	Author:			Guilherme Branco Stracini
	Change date:	2018-04-18
	Description:	Não fatura para pedidos bonificados porque o curso já foi enviado no pedido inicial.
					Faz a ligação do item na TGFVAR para caso cancele volte a ficar pendente no pedido.
	
	============================================= */
ALTER TRIGGER [sankhya].[TRG_UPD_TGFCAB_CURSO_ONLINE] ON [sankhya].[TGFCAB] 
AFTER UPDATE
AS 
DECLARE

/* Variáveis da TGFCAB */
@NUNOTA INT,
@AD_STATUSPGTO VARCHAR(30),
@CODTIPOPER INT,
@P_NUNOTA INT,
@P_ULTIMO_CODIGO INT,
@CODEMP INT,
@SERIENOTA VARCHAR(1),
@CODCENCUS INT,
@HRMOV VARCHAR(12),
@CODPARC INT,
@CODTIPVENDA INT,
@AD_PEDORIGINAL INT,
@CODVEND INT,
@CODUSU INT,
@TIPFRETE VARCHAR(1),
@CIF_FOB  VARCHAR(1),
@CODNAT INT,
@CODPROJ INT,
@ISSRETIDO VARCHAR(1),
@IRFRETIDO VARCHAR(1),
@OBSERVACAO VARCHAR(MAX),
@AD_CODCOMOSOUBE INT,
/* Variáveis da TGFITE */
@CODPROD INT,
@VLRUNIT DECIMAL (18,2),
@VLRTOT DECIMAL (18,2),
@QTDNEG DECIMAL (18,2),
@SEQUENCIA INT,
@SEQUENCIAORIG INT,
@NUTAB INT,
@CODLOCALORIG INT,
@CONTROLE VARCHAR(1),
@CODCFO INT,
@QTDENTREGUE DECIMAL (18,2),
@QTDCONFERIDA DECIMAL (18,2),
@VLRCUS DECIMAL (18,2),
@BASEICMS DECIMAL (18,2),
@VLRICMS DECIMAL (18,2),
@VLRDESC DECIMAL (18,2),
@BASESUBSTIT DECIMAL (18,2),
@VLRSUBST DECIMAL (18,2),
@ALIQICMS DECIMAL (18,2),
@PENDENTE VARCHAR(1),
@CODVOL VARCHAR(2), 
@RESERVA VARCHAR(2),
@ATUALIZAESTOQUE VARCHAR(1),
@STATUSNOTA_ITE VARCHAR(1),
@CODVEND_ITE INT,
@PERCDESC DECIMAL (18,2),
@CODUSU_ITE INT,
@CUSTO DECIMAL (18,2),
@CODPARCEXEC INT,
@SUMVLRTOT DECIMAL (18,2),
@ULTIMASEQUENCIA INT,
@BASEPIS DECIMAL (18,2),
@VLRPIS DECIMAL (18,2),
@BASECOFINS DECIMAL (18,2),
@VLRCOFINS DECIMAL (18,2),
/*Variáveis da TGFPRO */
@CODGRUPOPROD INT,
/*Variáveis da TGFVAR */
@SEQUENCIA_VAR INT
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	/* Obtém status do pagamento */
	SELECT @NUNOTA =		NUNOTA,
		   @CODTIPOPER =	CODTIPOPER,
		   @AD_STATUSPGTO = AD_STATUSPGTO
	FROM INSERTED;
	
	/*
	 * Validações para prosseguir a trigger
	 */
	IF @AD_STATUSPGTO != 'E'
	OR @CODTIPOPER NOT IN (500, 501, 502, 503, 515)
	OR NOT EXISTS (
		SELECT 1
		FROM INSERTED AS I
		INNER JOIN TGFITE AS C WITH (NOLOCK) ON I.NUNOTA = C.NUNOTA
		INNER JOIN TGFPRO AS P WITH (NOLOCK) ON C.CODPROD = P.CODPROD
		WHERE (P.CODGRUPOPROD = 720000 OR P.CODGRUPOPROD = 630100)
		AND C.QTDENTREGUE < C.QTDNEG 
	)
		RETURN;
		
	SELECT @CODPARC =			CODPARC,
			@CODEMP =			CODEMP,
			@CODTIPVENDA =		CODTIPVENDA,
			@AD_PEDORIGINAL =	AD_PEDORIGINAL,
			@SERIENOTA =			SERIENOTA,
			@CODCENCUS =			CODCENCUS,
			@CODVEND =			CODVEND,
			@CODUSU =			CODUSU,
			@TIPFRETE =			TIPFRETE,
			@CIF_FOB =			CIF_FOB,
			@CODNAT =			CODNAT,
			@CODPROJ =			CODPROJ,
			@ISSRETIDO =			ISSRETIDO,
			@IRFRETIDO =			IRFRETIDO,
			@OBSERVACAO =		sankhya.FN_REMOVER_ACENTUACAO(OBSERVACAO),
			@AD_CODCOMOSOUBE =	AD_CODCOMOSOUBE
	FROM TGFCAB WITH(NOLOCK)
	WHERE NUNOTA = @NUNOTA;
		
	/*
	 * Se ja existir uma nota na TOP 562 para este pedido, encerra o gatilho
	 */
	IF EXISTS (SELECT 1 FROM TGFCAB AS C WITH (NOLOCK) WHERE AD_PEDORIGINAL = @AD_PEDORIGINAL AND CODTIPOPER = 562)
		RETURN;

	/* Marca na Controle de Pedidos que o pedido tem Curso Digital, para considerar na Integração */
	UPDATE AD_PEDIDOVTEXSC 
	SET POSSUICURSODIGITAL ='S' 
	WHERE PEDORIGINAL = @AD_PEDORIGINAL;
		
	/* Busca ultimo número para usar no NUNOTA */
    SELECT @P_ULTIMO_CODIGO = ULTCOD 
	FROM TGFNUM WITH(NOLOCK) 
	WHERE ARQUIVO = 'TGFCAB';

    SET @P_NUNOTA = @P_ULTIMO_CODIGO + 1;
         
	UPDATE TGFNUM 
	SET ULTCOD = @P_NUNOTA 
	WHERE ARQUIVO = 'TGFCAB' 
	AND ULTCOD = @P_ULTIMO_CODIGO; 
            
    /* Formata o horário da movimentação */
    SELECT @HRMOV = REPLACE(CONVERT(VARCHAR, GETDATE(), 108), ':', '');
		
	/* Cria o pedido na TGFCAB */
	INSERT INTO TGFCAB (
	/*1*/NUNOTA, CODEMP, NUMNOTA, SERIENOTA, CODCENCUS,
    /*2*/DTNEG, DTENTSAI, DTMOV, HRMOV, CODEMPNEGOC,
    /*3*/CODPARC, CODTIPOPER, DHTIPOPER, CODTIPVENDA, DHTIPVENDA,
    /*4*/CODVEND, DTALTER, CODUSU, TIPFRETE, CIF_FOB,
    /*5*/CODNAT, CODPROJ, ISSRETIDO, IRFRETIDO, OBSERVACAO,
    /*6*/CODPARCDEST, VLRNOTA,
    /*7*/AD_STATUSPGTO, AD_CODCOMOSOUBE,
    /*8*/AD_IDMOD, VLRFRETE, CODPARCTRANSP, AD_PEDORIGINAL,
	/*9*/TIPMOV, AD_CODREENVIO
    ) VALUES (
	/*1*/@P_NUNOTA,@CODEMP, 0,1,@CODCENCUS,
	/*2*/CAST(SYSDATETIME() AS DATE),CAST(SYSDATETIME() AS DATE),CAST(SYSDATETIME() AS DATE), @HRMOV, @CODEMP,
	/*3*/@CODPARC,562,(SELECT MAX(DHALTER) FROM TGFTOP WITH (NOLOCK) WHERE CODTIPOPER = 562),@CODTIPVENDA,(SELECT MAX(DHALTER) FROM TGFTPV WITH (NOLOCK) WHERE CODTIPVENDA = @CODTIPVENDA),
	/*4*/@CODVEND,SYSDATETIME(),@CODUSU,@TIPFRETE,@CIF_FOB,
	/*5*/@CODNAT,@CODPROJ,@ISSRETIDO,@IRFRETIDO,@OBSERVACAO,
	/*6*/@CODPARC, 0.00,
	/*7*/@AD_STATUSPGTO, @AD_CODCOMOSOUBE,
	/*8*/7, 0.00, 36022, @AD_PEDORIGINAL,
	/*9*/'V', 0);  

	/* Adiciona um evento no sistema na TGFACT */
	INSERT INTO TGFACT (NUNOTA,SEQUENCIA, DHOCOR, HRACT,CODUSU,REFERENCIA,OCORRENCIAS,DIGITADO)
	VALUES (@P_NUNOTA, ISNULL((SELECT MAX(SEQUENCIA) FROM TGFACT WITH(NOLOCK) WHERE NUNOTA = @P_NUNOTA),0)+1, CAST(SYSDATETIME() AS DATE), @HRMOV, 0, 'N', 'NFE DE CURSO ONLINE GERADO AUTOMATICAMENTE','N');
		
	/* Cursor para percorrer todos os itens */
	DECLARE ITENSPEDIDO CURSOR
	FOR	(SELECT I.CODPROD, I.SEQUENCIA FROM INSERTED
		INNER JOIN TGFITE I WITH (NOLOCK) ON inserted.NUNOTA = i.NUNOTA
		INNER JOIN TGFPRO P WITH (NOLOCK) ON I.CODPROD = P.CODPROD
		WHERE (P.CODGRUPOPROD = 720000 OR P.CODGRUPOPROD = 630100)
		AND I.QTDENTREGUE < I.QTDNEG);
	OPEN ITENSPEDIDO;
	FETCH NEXT FROM ITENSPEDIDO
	INTO @CODPROD, @SEQUENCIAORIG;
	WHILE @@FETCH_STATUS = 0
	BEGIN
		
		/* Obtém informações do item */
		SELECT	@VLRUNIT =			VLRUNIT,
				@VLRTOT =			VLRTOT,
				@QTDNEG =			QTDNEG,
				@SEQUENCIA =		SEQUENCIA,
				@NUTAB =			NUTAB,
				@CODLOCALORIG =		CODLOCALORIG,
				@CONTROLE =			CONTROLE,
				@CODCFO =			CODCFO,
				@QTDENTREGUE =		QTDENTREGUE,
				@QTDCONFERIDA =		QTDCONFERIDA,
				@VLRCUS =			VLRCUS,
				@BASEICMS =			BASEICMS,
				@VLRICMS =			VLRICMS,
				@VLRDESC =			VLRDESC,
				@BASESUBSTIT =		BASESUBSTIT,
				@VLRSUBST =			VLRSUBST,
				@ALIQICMS =			ALIQICMS,
				@PENDENTE  =		PENDENTE,
				@CODVOL =			CODVOL,
				@ATUALIZAESTOQUE =	ATUALESTOQUE,
				@STATUSNOTA_ITE =	STATUSNOTA,
				@CODVEND_ITE =		CODVEND,
				@PERCDESC  =		PERCDESC,
				@CODUSU_ITE =		CODUSU,
				@CUSTO =			CUSTO,
				@CODPARCEXEC =		CODPARCEXEC,
				@RESERVA =			RESERVA
		FROM TGFITE WITH(NOLOCK)
		WHERE NUNOTA = @NUNOTA 
		AND CODPROD = @CODPROD 
		AND SEQUENCIA = @SEQUENCIAORIG;

		IF @CODCFO = 0 
			SET @CODCFO = 5102;

		IF @CODVOL != 'KT'
		BEGIN
			INSERT INTO TGFITE (
			/*1*/NUTAB, NUNOTA, SEQUENCIA, CODEMP, CODPROD,
			/*2*/CODLOCALORIG, CONTROLE, USOPROD, CODCFO, QTDNEG,
			/*3*/QTDENTREGUE, QTDCONFERIDA, VLRUNIT, VLRTOT, VLRCUS,
			/*4*/BASEIPI, VLRIPI, BASEICMS, VLRICMS, VLRDESC,
			/*5*/BASESUBSTIT, VLRSUBST, ALIQICMS, ALIQIPI, PENDENTE,
			/*6*/CODVOL,ATUALESTOQUE, RESERVA,
			/*7*/STATUSNOTA, CODVEND,
			/*8*/VLRREPRED, VLRDESCBONIF, PERCDESC,
			/*9*/CODPARCEXEC, CUSTO, CODUSU, DTALTER
			) VALUES (
			/*1*/@NUTAB, @P_NUNOTA, ISNULL((SELECT MAX(i.SEQUENCIA) FROM sankhya.TGFCAB AS C INNER JOIN sankhya.TGFITE AS I on (c.NUNOTA = i.nunota) where c.NUNOTA = @P_NUNOTA),0)+1, @CODEMP, @CODPROD,
			/*2*/@CODLOCALORIG, @CONTROLE, 'R', @CODCFO, @QTDNEG,
			/*3*/@QTDENTREGUE, @QTDCONFERIDA, @VLRUNIT, @VLRTOT, @VLRCUS,
			/*4*/0, 0, @BASEICMS, @VLRICMS, @VLRDESC,
			/*5*/@BASESUBSTIT, @VLRSUBST, @ALIQICMS, 0, @PENDENTE,
			/*6*/@CODVOL, 0, 'N',
			/*7*/@STATUSNOTA_ITE, @CODVEND_ITE, 
			/*8*/0, 0, @PERCDESC,
			/*9*/@CODPARCEXEC, @CUSTO, @CODUSU_ITE, CAST(SYSDATETIME() AS DATE));
						
			/* Inclui na TGFVAR */
			SELECT @SEQUENCIA_VAR = SEQUENCIA FROM TGFITE WHERE CODPROD = @CODPROD AND NUNOTA = @P_NUNOTA
					
			/* Inclui na TGFVAR */
			INSERT INTO TGFVAR (NUNOTA, SEQUENCIA, NUNOTAORIG, SEQUENCIAORIG, QTDATENDIDA, STATUSNOTA)	
			VALUES (@P_NUNOTA, @SEQUENCIA_VAR, @NUNOTA, @SEQUENCIAORIG, @QTDNEG, 'A');

			/* Marca na ITE original como não pendente */
			UPDATE TGFITE 
			SET	PENDENTE = 'N', QTDENTREGUE = QTDNEG, QTDFAT = QTDNEG
			WHERE NUNOTA = @NUNOTA 
			AND CODPROD = @CODPROD
		END

		FETCH NEXT FROM ITENSPEDIDO
		INTO @CODPROD, @SEQUENCIAORIG    			
	
	END /*CURSOR*/
	CLOSE ITENSPEDIDO;
	DEALLOCATE ITENSPEDIDO;
END