USE [SANKHYA_PRODUCAO]
GO
/****** Object:  Trigger [sankhya].[TRG_UPD_TGFCAB_FRETEGRATIS]    Script Date: 09/10/2017 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [sankhya].[TRG_UPD_TGFCAB_FRETEGRATIS] ON [sankhya].[TGFCAB] FOR INSERT, UPDATE
AS
DECLARE
@NUNOTA			INT,
@PAC			FLOAT,
@SEDEX			FLOAT,
@AD_IDMOD		INT

BEGIN

	/* OBTEM A MODALIDADE DE ENTREGA DO PEDIDO */
	SELECT	@AD_IDMOD = AD_IDMOD,
			@NUNOTA = NUNOTA
	FROM INSERTED 
	
	/* VERIFICA SE O PEDIDO TEM A MODALIDADE FRETE GRATIS (8) VINDO DO WMWVENDAS */
	IF (@AD_IDMOD = 8 AND @@NESTLEVEL < 5)
	BEGIN

		/* CASO SEJA, VAMOS VERIFICAR O MELHOR PREÇO */

		/* OBTENDO PREÇO DO SEDEX */
		SET @SEDEX = (SELECT TOP 1 CEP.VLFRETE FROM sankhya.TGFCAB CAB WITH(NOLOCK)
		INNER JOIN EDITORAWVWEBPRD.dbo.TBLVWPEDIDO P WITH(NOLOCK) ON P.NUPEDIDO = CAB.AD_PEDIDOWMW
		INNER JOIN EDITORAWVWEBPRD.dbo.TBLVWCLIENTE C WITH(NOLOCK) ON C.CDCLIENTE = P.CDCLIENTE
		LEFT JOIN EDITORAWVWEBPRD.dbo.TBLVWTRANSPVALORFRETE CEP WITH(NOLOCK) ON CEP.NUFAIXACEPINICIAL <=CAST(REPLACE(C.DSCEPCOMERCIAL,'-','') AS INT) AND CEP.NUFAIXACEPFINAL > CAST(REPLACE(C.DSCEPCOMERCIAL,'-','') AS INT) AND CEP.QTPESO > P.QTPESO AND CEP.CDTIPOSERVICOFRETE = 4
		WHERE CAB.NUNOTA = @NUNOTA
		order by CEP.QTPESO ASC)

		/* OBTENDO PREÇO DO PAC */
		SET @PAC = (SELECT TOP 1 CEP.VLFRETE AS SEDEX FROM sankhya.TGFCAB CAB WITH(NOLOCK)
		INNER JOIN EDITORAWVWEBPRD.dbo.TBLVWPEDIDO P WITH(NOLOCK) ON P.NUPEDIDO = CAB.AD_PEDIDOWMW
		INNER JOIN EDITORAWVWEBPRD.dbo.TBLVWCLIENTE C WITH(NOLOCK) ON C.CDCLIENTE = P.CDCLIENTE
		LEFT JOIN EDITORAWVWEBPRD.dbo.TBLVWTRANSPVALORFRETE CEP WITH(NOLOCK) ON CEP.NUFAIXACEPINICIAL <=CAST(REPLACE(C.DSCEPCOMERCIAL,'-','') AS INT) AND CEP.NUFAIXACEPFINAL > CAST(REPLACE(C.DSCEPCOMERCIAL,'-','') AS INT) AND CEP.QTPESO > P.QTPESO AND CEP.CDTIPOSERVICOFRETE = 3
		WHERE CAB.NUNOTA = @NUNOTA
		order by CEP.QTPESO ASC)

		/* SE A LOCALIZAÇÃO NÃO FOR ATENDIDA POR E-SEDEX, JÁ COLOCA O MELHOR FRETE PAC */
		IF (@SEDEX IS NULL)
		BEGIN
			SET @AD_IDMOD = 3
		END

		/* CASO SEJA ATENDIDO PELO SEDEX, COMPARA OS PREÇOS */
		ELSE
		BEGIN
			/* SE O SEDEX FOR MAIS BARATO QUE O PAC, MARCA SEDEX (é colocado uma margem de 10-15% no PAC)*/
			IF(@SEDEX <= (CASE WHEN @PAC < 20 THEN @PAC*1.15 ELSE CASE WHEN @PAC < 30 THEN @PAC*1.10 ELSE @PAC END END))
			BEGIN
				SET @AD_IDMOD = 4
			END
			/* CASO CONTRÁRIO, MARCA PAC*/
			ELSE
			BEGIN
				SET @AD_IDMOD = 3
			END
		END
		
		/* ALTERA A CAB PARA INFORMAR O NOVO VALOR DA MODALIDADE ENTREGA */
		UPDATE TGFCAB SET AD_IDMOD = @AD_IDMOD WHERE NUNOTA = @NUNOTA
	END
	
END
