USE [EDITORAWVWEBPRD]
GO
/****** Object:  StoredProcedure [dbo].[PRIMPORTACLIENTEATUA]    Script Date: 21/03/2018 17:34:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[PRIMPORTACLIENTEATUA]
(
  @CDEMPRESA          VARCHAR(20), 
  @CDREPRESENTANTE    VARCHAR(20),
  @RETORNO            VARCHAR(20) OUTPUT) 
AS
BEGIN
     
SET LANGUAGE BRAZILIAN;
     
    -- VARIAVEIS
    DECLARE @P_EXISTE_CLIENTE                     INT,
			@P_CODIGO                             INT,
			@P_CODPARC                            INT,
			@P_CODCONTATO                         INT,
			@P_AUTO                               CHAR(1),
			@P_CODCID                             INT,
			@P_CODBAI                             INT,
			@P_CODEND                             INT,
			@P_CODUF                              INT,
			@P_NUFONE							  VARCHAR(20),
			@P_NUFONEFAX 						  VARCHAR(20);
     
    -- VARIAVEIS DO CURSOR
    DECLARE @CDCLIENTE							  VARCHAR(20),
			@NMRAZAOSOCIAL                        VARCHAR(40),
			@NMFANTASIA                           VARCHAR(40),
			@NUFONE                               VARCHAR(20),
			@NUFONEFAX	                          VARCHAR(20),
			@DSEMAIL							  VARCHAR(100),
			@NUCNPJ                               VARCHAR(20),
			@CDREGISTRO							  VARCHAR(20),
			@DTATUALIZACAO                        DATETIME,
			@DTNASCIMENTO                         DATETIME,
			@DSTIPOLOGRADOUROCOMERCIAL			  varchar(10),
			@DSLOGRADOUROCOMERCIAL                VARCHAR(100),
			@NULOGRADOURO						  CHAR(6),   
			@DSCOMPLEMENTOCOMERCIAL               VARCHAR(20),
			@DSBAIRROCOMERCIAL                    VARCHAR(100),
			@DSCEPCOMERCIAL                       VARCHAR(20),
			@CDCIDADECOMERCIAL                    VARCHAR(100),
			@CDESTADOCOMERCIAL                    VARCHAR(20);

         
    -- VARIAVEIS PARA TRATAMENTO DE ERROS
    DECLARE @ERRORNUM                             VARCHAR(30),
			@ERRORSEVERITY                        INT,
			@ERRORMSG                             VARCHAR(4000);
         
    SET @RETORNO = 'OK';


	SELECT 
		ATU.CDCLIENTE, CDREGISTRO, DTATUALIZACAO, COALESCE(ATU.NMRAZAOSOCIAL, CLI.NMRAZAOSOCIAL) NMRAZAOSOCIAL, COALESCE(ATU.NMFANTASIA  , CLI.NMFANTASIA  ) NMFANTASIA  , 
		COALESCE(ATU.NUFONE, CLI.NUFONE) NUFONE, COALESCE(ATU.NUFONEFAX, CLI.NUFONEFAX) NUFONEFAX, 
		COALESCE(ATU.DSEMAIL, CLI.DSEMAIL) DSEMAIL, COALESCE(ATU.DTNASCIMENTO, CLI.DTNASCIMENTO) DTNASCIMENTO, 
		COALESCE(ATU.DSCEPCOMERCIAL,CLI.DSCEPCOMERCIAL) DSCEPCOMERCIAL, 
		COALESCE(ATU.DSTIPOLOGRADOUROCOMERCIAL, CLI.DSTIPOLOGRADOUROCOMERCIAL) DSTIPOLOGRADOUROCOMERCIAL, 
		COALESCE(ATU.DSLOGRADOUROCOMERCIAL, CLI.DSLOGRADOUROCOMERCIAL) DSLOGRADOUROCOMERCIAL, 
		COALESCE(ATU.NULOGRADOUROCOMERCIAL, CLI.NULOGRADOUROCOMERCIAL) NULOGRADOUROCOMERCIAL, 
		COALESCE(ISNULL(ATU.DSCOMPLEMENTOCOMERCIAL,''), CLI.DSCOMPLEMENTOCOMERCIAL) DSCOMPLEMENTOCOMERCIAL, 
		CAST(COALESCE(ATU.DSBAIRROCOMERCIAL, CLI.DSBAIRROCOMERCIAL) AS VARCHAR(20)) DSBAIRROCOMERCIAL, 
		COALESCE(ATU.CDESTADOCOMERCIAL,CLI.CDESTADOCOMERCIAL) CDESTADOCOMERCIAL, 
		COALESCE(ATU.CDCIDADECOMERCIAL, CLI.CDCIDADECOMERCIAL) CDCIDADECOMERCIAL
	INTO #TMPCLIENTEATUA
	FROM 
	TBLVWCLIENTEATUA ATU
	JOIN TBLVWCLIENTE CLI 
		ON CLI.CDEMPRESA = ATU.CDEMPRESA 
	AND CLI.CDREPRESENTANTE = ATU.CDREPRESENTANTE
	AND CLI.CDCLIENTE = ATU.CDCLIENTE
	WHERE
		ATU.CDEMPRESA = @CDEMPRESA
	AND	ATU.CDREPRESENTANTE = @CDREPRESENTANTE
	AND (ATU.FLCONTROLEERP <> 'E' OR ATU.FLCONTROLEERP IS NULL)

	--VERIFICA SE O CLIENTE JÁ FOI PROCESSADO
	IF @@ROWCOUNT = 0
		RETURN;


    -- CURSOR CLIENTE
    DECLARE CURSORCLIENTE CURSOR FOR
			SELECT 
				CDCLIENTE, CDREGISTRO, DTATUALIZACAO,  NMRAZAOSOCIAL,NMFANTASIA , NUFONE, 
				NUFONEFAX, DSEMAIL, DTNASCIMENTO, DSCEPCOMERCIAL, DSLOGRADOUROCOMERCIAL, DSTIPOLOGRADOUROCOMERCIAL,
				NULOGRADOUROCOMERCIAL, DSCOMPLEMENTOCOMERCIAL, DSBAIRROCOMERCIAL, CDESTADOCOMERCIAL, CDCIDADECOMERCIAL
			FROM #TMPCLIENTEATUA
     
    OPEN CURSORCLIENTE
    FETCH NEXT FROM CURSORCLIENTE INTO @CDCLIENTE, @CDREGISTRO, @DTATUALIZACAO, @NMRAZAOSOCIAL,@NMFANTASIA , @NUFONE, 
									   @NUFONEFAX, @DSEMAIL, @DTNASCIMENTO, @DSCEPCOMERCIAL, @DSLOGRADOUROCOMERCIAL, @DSTIPOLOGRADOUROCOMERCIAL,
									   @NULOGRADOURO, @DSCOMPLEMENTOCOMERCIAL, @DSBAIRROCOMERCIAL, @CDESTADOCOMERCIAL, @CDCIDADECOMERCIAL
    WHILE @@FETCH_STATUS = 0
    BEGIN
    
	BEGIN TRY
        
		-- Trata campo NUFONE
        IF (LEN(@NUFONE) = 11) 
        BEGIN
			SET @P_NUFONE = SUBSTRING(@NUFONE, 1, 2) + '  ' + SUBSTRING(@NUFONE, 3, 5) + '' + SUBSTRING(@NUFONE, 8,4 );
        END;
        ELSE 
        BEGIN
			SET @P_NUFONE = SUBSTRING(@NUFONE, 1, 2) + '  ' + SUBSTRING(@NUFONE, 3, 4) + '' + SUBSTRING(@NUFONE, 7,4 );
        END;
              
        -- Trata campo TELEFONEALT
        IF (LEN(@NUFONEFAX) = 11)
		BEGIN
			SET @P_NUFONEFAX = SUBSTRING(@NUFONEFAX, 1, 2) + '  ' + SUBSTRING(@NUFONEFAX, 3, 5) + '' + SUBSTRING(@NUFONEFAX, 8,4 ); 
        END;
        ELSE
        BEGIN 
			SET @P_NUFONEFAX = SUBSTRING(@NUFONEFAX, 1, 2) + '  ' + SUBSTRING(@NUFONEFAX, 3, 4) + '' + SUBSTRING(@NUFONEFAX, 7,4 );
        END ;

		-- VERIFICA SE O CLIENTE JA ESTA CADASTRADO NO ERP (TGFPAR)        
		SELECT @P_EXISTE_CLIENTE = ISNULL(MAX(1),0) FROM TGFPAR WHERE CODPARC = @CDCLIENTE;
		
		IF (@P_EXISTE_CLIENTE = 1)
		BEGIN
			SELECT @P_CODCID = ISNULL(MAX(CODCID),0) FROM TSICEP WHERE CEP = @DSCEPCOMERCIAL;
			SELECT @P_CODUF  = ISNULL(CODUF,0)       FROM TSIUFS WHERE CODUF = @CDESTADOCOMERCIAL;
		END;
		
		BEGIN TRANSACTION;

        
           
        -- CADASTRO DE CIDADE
        IF (@P_CODCID = 0)
        BEGIN
        -- TENTA ACHAR A CIDADE PELO NOME
           SELECT @P_CODCID = ISNULL(MAX(CODCID),0) FROM TSICID WHERE CODCID = @CDCIDADECOMERCIAL AND UF = @CDESTADOCOMERCIAL;
        END;
        IF (@P_CODCID= 0)
        BEGIN
        -- BUSCA TIPO DE NUMERACAO
            SELECT @P_AUTO = AUTOMATICO FROM TGFNUM WHERE ARQUIVO = 'TSICID';
            SELECT @P_CODIGO = ULTCOD   FROM TGFNUM WHERE ARQUIVO = 'TSICID';
        
            -- NUMERACAO AUTOMATICA
            IF (@P_AUTO = 'S')
            BEGIN
						UPDATE TGFNUM SET ULTCOD = ULTCOD + 1 WHERE ARQUIVO = 'TSICID';
						SET @P_CODCID = @P_CODIGO + 1;
						-- INSERI CIDADE NA TABELA DA SANKHYA
						INSERT INTO TSICID (CODCID, UF, NOMECID, DTALTER)
														     VALUES (@P_CODCID, @P_CODUF, @CDCIDADECOMERCIAL, SYSDATETIME());
					END;
            ELSE
            BEGIN
              -- NUMERACAO MANUAL. VAI BUSCAR O MAIOR CODIGO DE CIDADE NA TABELA
              SELECT @P_CODIGO = MAX(CODCID) FROM TSICID;
              SET @P_CODCID = @P_CODIGO + 1;
              -- INSERI CIDADE NA TABELA DA SANKHYA
              INSERT INTO TSICID (CODCID, UF, NOMECID, DTALTER)
                                               VALUES (@P_CODCID, @P_CODUF, @DSCEPCOMERCIAL, SYSDATETIME());
            END;
          END; 
             
          -- CADASTRO DE BAIRRO
          IF (@DSCEPCOMERCIAL IS NOT NULL)
          BEGIN
			SELECT @P_CODBAI = ISNULL(MAX(CODBAI),0) FROM TSIBAI WHERE UPPER(NOMEBAI) = UPPER(@DSBAIRROCOMERCIAL);
		  END;       
            IF (@P_CODBAI = 0 AND @DSBAIRROCOMERCIAL <>'<SEM DESCRIÇÃO>')
                BEGIN
                      -- BUSCA TIPO DE NUMERACAO
                      SELECT @P_AUTO = AUTOMATICO FROM TGFNUM WHERE ARQUIVO = 'TSIBAI';
                      SELECT @P_CODIGO = ULTCOD   FROM TGFNUM WHERE ARQUIVO = 'TSIBAI';
                      -- NUMERACAO AUTOMATICA
                      IF (@P_AUTO = 'S')
                      BEGIN
                          UPDATE TGFNUM SET ULTCOD = ULTCOD + 1 WHERE ARQUIVO = 'TSIBAI';
                          SET @P_CODBAI = @P_CODIGO + 1;
                          -- INSERI BAIRRO NA TABELA DA SANKHYA
                          INSERT INTO TSIBAI (CODBAI, NOMEBAI, DTALTER)
															VALUES (@P_CODBAI, @DSBAIRROCOMERCIAL, SYSDATETIME());
                      END;
                      ELSE
						BEGIN
                      -- NUMERACAO MANUAL. VAI BUSCAR O MAIOR CODIGO DE BAIRRO NA TABELA
                          SELECT @P_CODIGO = MAX(CODBAI) FROM TSIBAI;
                          SET @P_CODBAI = @P_CODIGO + 1;
                          -- INSERI BAIRRO NA TABELA DA SANKHYA
                          INSERT INTO TSIBAI (CODBAI, NOMEBAI, DTALTER)
														      VALUES (@P_CODBAI, @DSBAIRROCOMERCIAL, SYSDATETIME());
						END;      
                   END; 
             
           -- CADASTRO DE LOGRADOURO   
           IF (@DSCEPCOMERCIAL IS NOT NULL)
           BEGIN
              
			  SELECT @P_CODEND = ISNULL(MAX(CODEND),0) FROM TSIEND WHERE UPPER(NOMEEND) = UPPER(@DSLOGRADOUROCOMERCIAL) AND UPPER(TIPO) = UPPER(@DSTIPOLOGRADOUROCOMERCIAL);
              
			  --Se não encontrou endereço cadastrado igual, cria um novo
			  IF ((@P_CODEND IS NULL) OR (@P_CODEND = 0))
              BEGIN
                  -- BUSCA TIPO DE NUMERACAO
                  SELECT @P_AUTO = AUTOMATICO FROM TGFNUM WHERE ARQUIVO = 'TSIEND';
                 
				  -- NUMERACAO AUTOMATICA
                  IF (@P_AUTO = 'S')
                  BEGIN
					  SELECT @P_CODEND = ULTCOD + 1 FROM TGFNUM WHERE ARQUIVO = 'TSIEND';

                      UPDATE TGFNUM SET ULTCOD = @P_CODEND WHERE ARQUIVO = 'TSIEND';
                      
					  INSERT INTO TSIEND (CODEND, NOMEEND, TIPO, DTALTER)
                                  VALUES  (@P_CODEND, @DSLOGRADOUROCOMERCIAL, @DSTIPOLOGRADOUROCOMERCIAL, SYSDATETIME());
                  END
                  ELSE
                  BEGIN
                  -- NUMERACAO MANUAL. VAI BUSCAR O MAIOR CODIGO DE ENDERECO NA TABELA
                      SELECT @P_CODEND = MAX(CODEND)+ 1 FROM TSIEND;
                      INSERT INTO TSIEND (CODEND, NOMEEND, TIPO, DTALTER)
                                  VALUES  (@P_CODEND, @DSLOGRADOUROCOMERCIAL, @DSTIPOLOGRADOUROCOMERCIAL, SYSDATETIME());
                  END
				END
               ELSE
               BEGIN
					UPDATE TSIEND SET NOMEEND = @DSLOGRADOUROCOMERCIAL, TIPO = @DSTIPOLOGRADOUROCOMERCIAL, DTALTER = SYSDATETIME()
					WHERE CODEND = @P_CODEND;
			   END
            END;
            
             -- INSERE LOGRADOURO NA VARIAVEL
            SET @NULOGRADOURO = ISNULL(@NULOGRADOURO,'0');
            IF @NULOGRADOURO = '0' OR RTRIM(LTRIM(@NULOGRADOURO)) = ''
            BEGIN
               SET @NULOGRADOURO = 'S/N';
            END;
            ELSE
            BEGIN
               SET @NULOGRADOURO = @NULOGRADOURO;
            END;
               
              
            -- BUSCA TIPO DE NUMERACAO
               SELECT @P_AUTO = AUTOMATICO FROM TGFNUM WHERE ARQUIVO = 'TGFPAR';
               SELECT @P_CODIGO = ULTCOD   FROM TGFNUM WHERE ARQUIVO = 'TGFPAR';
                  
            -- NUMERACAO AUTOMATICA
            IF (@P_AUTO = 'S')
            BEGIN
                UPDATE TGFNUM SET ULTCOD = ULTCOD + 1 WHERE ARQUIVO = 'TGFPAR';
                SET @P_CODPARC = @P_CODIGO + 1;
            END;
            ELSE
            BEGIN
                -- NUMERACAO MANUAL. VAI BUSCAR O MAIOR CODIGO DE PARCEIRO NA TABELA
                SELECT @P_CODIGO = MAX(CODPARC) FROM TGFPAR;
                SET @P_CODPARC = @P_CODIGO + 1;
            END;
               
            UPDATE TGFPAR SET RAZAOSOCIAL = @NMRAZAOSOCIAL, 
							  NOMEPARC = @NMFANTASIA,
							  CODEND = @P_CODEND,
							  NUMEND = @NULOGRADOURO,
							  COMPLEMENTO = @DSCOMPLEMENTOCOMERCIAL,
							  CODBAI = @P_CODBAI,
							  CODCID = @P_CODCID,
							  CEP = @DSCEPCOMERCIAL,
							  TELEFONE = @P_NUFONE,
							  FAX = @P_NUFONEFAX,
							  EMAIL = @DSEMAIL,
							  DTALTER = @DTATUALIZACAO,
							  CODUSU = (CASE WHEN @CDREPRESENTANTE = 0 THEN 426 ELSE @CDREPRESENTANTE END),
							  DTNASC = @DTNASCIMENTO							  							  
                        WHERE
                              CODPARC = @CDCLIENTE;
			IF @@ROWCOUNT = 0
				RAISERROR ('NAO FOI POSSIVEL ATUALIZAR OS DADOS NA TGFPAR, VERIFIQUE O COMANDO DE INSERT', 16, 1);
	                              


			UPDATE TBLVWCLIENTE SET NMRAZAOSOCIAL = @NMRAZAOSOCIAL, 
									NMFANTASIA  =  @NMFANTASIA  ,
									DSTIPOLOGRADOUROCOMERCIAL = @DSTIPOLOGRADOUROCOMERCIAL,
									DSLOGRADOUROCOMERCIAL = @DSLOGRADOUROCOMERCIAL,
									NULOGRADOUROCOMERCIAL = @NULOGRADOURO,
									DSCOMPLEMENTOCOMERCIAL = @DSCOMPLEMENTOCOMERCIAL,
									DSBAIRROCOMERCIAL = @DSBAIRROCOMERCIAL,
									CDCIDADECOMERCIAL = @CDCIDADECOMERCIAL,
									DSCEPCOMERCIAL = @DSCEPCOMERCIAL,
									NUFONE = @NUFONE,
									NUFONEFAX = @NUFONEFAX,
									DSEMAIL = @DSEMAIL,
									DTNASCIMENTO = @DTNASCIMENTO
								WHERE
									CDCLIENTE = @CDCLIENTE;
			IF @@ROWCOUNT = 0
				RAISERROR ('NAO FOI POSSIVEL ATUALIZAR OS DADOS NA TBLVWCLIENTE, VERIFIQUE O COMANDO DE INSERT', 16, 1);
                                                       
            UPDATE TBLVWCLIENTEATUA SET FLCONTROLEERP = 'E', DSMENSAGEMCONTROLEERP = 'CLIENTE ATUALIZADO COM SUCESSO'
            WHERE
            CDEMPRESA = @CDEMPRESA  AND
            CDREPRESENTANTE = @CDREPRESENTANTE AND
            CDREGISTRO = @CDREGISTRO AND
            CDCLIENTE = @CDCLIENTE;
           
            COMMIT; 

            END TRY
              BEGIN CATCH
                 
                  SET @ERRORNUM = ERROR_NUMBER();
                  SET @ERRORMSG = ERROR_MESSAGE();
                     
                  ROLLBACK;
                       
                        UPDATE TBLVWCLIENTEATUA SET FLCONTROLEERP = 'X', DSMENSAGEMCONTROLEERP = 'ERRO AO ATUALIZAR CLIENTE:' + @ERRORNUM +' ' + SUBSTRING(@ERRORMSG, 1, 200)
                        WHERE
                            CDEMPRESA = @CDEMPRESA  AND
                            CDREPRESENTANTE = @CDREPRESENTANTE AND
                            CDREGISTRO = @CDREGISTRO AND
                            CDCLIENTE = @CDCLIENTE;
                        --SET @RETORNO = 'ERRO';                       
                           
              END CATCH;
                 
        FETCH NEXT FROM CURSORCLIENTE INTO @CDCLIENTE, @CDREGISTRO, @DTATUALIZACAO, @NMRAZAOSOCIAL,@NMFANTASIA , @NUFONE, 
									   @NUFONEFAX, @DSEMAIL, @DTNASCIMENTO, @DSCEPCOMERCIAL, @DSLOGRADOUROCOMERCIAL, @DSTIPOLOGRADOUROCOMERCIAL, 
									   @NULOGRADOURO, @DSCOMPLEMENTOCOMERCIAL, @DSBAIRROCOMERCIAL, 
									   @CDESTADOCOMERCIAL, @CDCIDADECOMERCIAL
      END;
    CLOSE CURSORCLIENTE
    DEALLOCATE CURSORCLIENTE
END