USE [SANKHYA_PRODUCAO]
GO
/****** Object:  Trigger [sankhya].[TRG_INC_UPD_AD_PRODUTOLOJA_KIT]    Script Date: 27/04/2018 12:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*	=============================================
	Author:			Rodrigo Lacalendola
	Create date:	16/08/2017
	Description:	Verifica se o kit está devidamente precificado para liberar para vendas
	============================================= */
ALTER TRIGGER [sankhya].[TRG_INC_UPD_AD_PRODUTOLOJA_KIT]
   ON  [sankhya].[AD_PRODUTOLOJA] 
   AFTER INSERT, UPDATE
AS 
DECLARE
@CODPROD INT,
@ATIVO CHAR(1),
@PRECOBRANCO CHAR(1),
@CODVOL CHAR(2),
@ERRMSG VARCHAR(100),
@SOLICITANTE CHAR(30)

BEGIN
	SET NOCOUNT ON;
	
	IF NOT UPDATE(ATIVO)
		RETURN;

	/* OBTEM OS DADOS DA ALTERAÇÃO/INCLUSÃO */
	SELECT	@CODPROD =		I.CODPROD, 
			@ATIVO =		I.ATIVO
	FROM INSERTED AS I;

	/* OBTEM A UNIDADE DO PRODUTO ALTERADO */
	SELECT @CODVOL = CODVOL 
	FROM sankhya.TGFPRO WITH(NOLOCK) 
	WHERE CODPROD = @CODPROD;

	/* CASO SEJA UM KIT E ATIVO PARA VENDAS*/
	IF @ATIVO != 'S' OR @CODVOL != 'KT'
		RETURN;
	
	/* VERIFICA SE EXISTE ALGUM ITEM DO KIT COM PREÇO DE VENDA ZERO */
	IF NOT EXISTS (SELECT AD_VLRVENDA FROM sankhya.TGFICP WHERE CODPROD = @CODPROD AND (AD_VLRVENDA IS NULL OR AD_VLRVENDA = 0))
		RETURN;
	
	/* CASO EXISTA, EXIBE MENSAGEM DE ERRO */
	SET @ERRMSG = 'Produto ' + CAST(@CODPROD AS VARCHAR) + ' não pode ser liberado para venda porque o kit não está precificado corretamente.';
	EXEC SANKHYA.SNK_ERROR @ERRMSG;

	SELECT @SOLICITANTE = UPPER(program_name)
	FROM MASTER.DBO.SYSPROCESSES
	WHERE SPID = @@SPID;

	IF	@SOLICITANTE LIKE 'MICROSOFT%' OR
		@SOLICITANTE = 'MS SQLEM' OR 
		@SOLICITANTE = 'MS SQL QUERY ANALYZER' OR
		@SOLICITANTE LIKE 'TOAD%'
	ROLLBACK  TRANSACTION;
END