USE [SANKHYA_PRODUCAO]
GO
/****** Object:  UserDefinedFunction [sankhya].[FN_CALCULA_RESERVADO]    Script Date: 15/03/2017 17:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		RODRIGO LACALENDOLA
-- Create date: 2015-01-27
-- Description:	CALCULO DE RESERVADO DE ITENS DE ACORDO COM MODIFICAÇÃO NA PROCEDURE (STP_CORRIGEESTOQUERESERVADOPORPRODUTO)
-- =============================================
ALTER FUNCTION [sankhya].[FN_CALCULA_RESERVADO]
(
	@CODPROD INT
)
RETURNS DECIMAL(10,2)
AS
BEGIN
	DECLARE @RESERVADO DECIMAL(10,2)


	/* metodo 1 */

	SELECT @RESERVADO = ISNULL(SUM(QTDNEG), 0)
	FROM sankhya.TGFITE AS I WITH(NOLOCK)
	INNER JOIN sankhya.TGFCAB AS C WITH(NOLOCK) ON (C.NUNOTA = I.NUNOTA)
	INNER JOIN sankhya.TGFTOP T WITH(NOLOCK) on (T.CODTIPOPER = C.CODTIPOPER AND T.DHALTER = C.DHTIPOPER) 
	WHERE I.CODPROD = @CODPROD AND C.PENDENTE = 'S' AND
	C.DTNEG >= CASE WHEN C.CODTIPOPER IN (500,501,502,503,504,515) THEN DATEADD(DAY, -30, GETDATE()) ELSE CASE WHEN C.CODTIPOPER = 508 THEN DATEADD(DAY, -360, GETDATE()) ELSE DATEADD(DAY, -40, GETDATE()) END END	
    AND T.ATUALEST = 'R'


	/* metodo 2 */

	--SELECT @reservado = ISNULL(SUM(QTDNEG), 0)
	--FROM sankhya.TGFITE AS I
	--INNER JOIN sankhya.TGFCAB AS C ON (C.NUNOTA = I.NUNOTA)
	--INNER JOIN sankhya.TGFTOP T on (T.CODTIPOPER = C.CODTIPOPER AND T.DHALTER = C.DHTIPOPER) 
	--WHERE I.CODPROD = @CODPROD AND C.PENDENTE = 'S' AND
	--C.DTNEG >= DATEADD(DAY, -60, GETDATE())
 --   AND T.ATUALEST = 'R'






	RETURN @RESERVADO

END
