USE [SANKHYA_PRODUCAO]
GO
/****** Object:  UserDefinedFunction [sankhya].[FN_VERIFICA_EAN]    Script Date: 03/01/2018 18:22:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rodrigo Lacalendora
-- Create date: 2017-05-18
-- Description:	Verifica se o EAN de um produto é válido ou não e exibe o erro (em branco, duplicado, dígito, não possui 13 caracteres)
-- =============================================
ALTER FUNCTION [sankhya].[FN_VERIFICA_EAN]
(
	-- Add the parameters for the function here
	@CODPROD INT
)
RETURNS CHAR(20)
AS
BEGIN


	DECLARE
	@CODVOL CHAR(2),
	@ATIVO CHAR(1),
	@CODGRUPOPROD INT

	/* DECLARANDO A VARIÁVEL À SER RETORNADA, ASSUMINDO QUE INICIALMENTE NÃO TEM ERROS */
	DECLARE @ERRO CHAR(20)
	SET @ERRO = 'OK'



	/* OBTENDO O EAN DO PRODUTO EM QUESTÃO */ 
	DECLARE @EAN VARCHAR(20)
	SELECT @EAN = REFERENCIA, @CODVOL = CODVOL, @ATIVO = ATIVO, @CODGRUPOPROD = CODGRUPOPROD FROM sankhya.TGFPRO WITH(NOLOCK) WHERE CODPROD = @CODPROD


	/* CASO NÃO SEJA KIT, PRE CADASTRO, CURSO ONLINE OU PRODUTO INATIVO */
	IF (@CODVOL != 'KT' AND @ATIVO = 'S' AND @CODGRUPOPROD NOT IN (720000,800000))
	BEGIN
			/*PARTE 01 - VERIFICA DUPLICADOS */

			/* CONFERE A QUANTIDADE DE EANS INSERIDOS, DE ACORDO COM O EAN QUE ESTÁ SENDO ATUALIADO/INCLUIDO NA TRIGGER*/
			DECLARE @QTD INT
			SELECT @QTD = COUNT(REFERENCIA) FROM sankhya.TGFPRO WITH(NOLOCK)
			WHERE CODPROD != @CODPROD AND REFERENCIA = @EAN AND ATIVO = 'S' AND CODVOL != 'KT' AND CODGRUPOPROD NOT IN (720000,800000)

			/* CASO JÁ EXISTE AO MENOS 01 OCORRENCIA COM O MESMO EAN, DE PRODUTOS ATIVOS, RETORNA UM ERRO */
			IF (@QTD >= 1)
				SET @ERRO = 'ERRO - DUPLICADO' 

			-- LIMPANDO O EAN
			SET @EAN = REPLACE(LTRIM(RTRIM(@EAN)),' ','')
			
			/* PARTE 02 - VERIFICA SE O EAN POSSUI 13 DIGITOS (EAN13) */
			IF(LEN(@EAN) != 13)
				SET @ERRO = 'ERRO - NAO É EAN13'
	
			/*PARTE 03 - CONFERE SE O EAN DIGITADO É VALIDO */
			DECLARE @PAR INT, @IMPAR INT, @VERIF INT
			
			SET @IMPAR = CAST(    (CAST(SUBSTRING(@EAN,1,1) AS INT)+CAST(SUBSTRING(@EAN,3,1) AS INT)+CAST(SUBSTRING(@EAN,5,1) AS INT)+CAST(SUBSTRING(@EAN,7,1) AS INT)+CAST(SUBSTRING(@EAN,9,1) AS INT)+CAST(SUBSTRING(@EAN,11,1) AS INT)) AS INT  )
			SET @PAR = CAST(    (CAST(SUBSTRING(@EAN,2,1) AS INT)+CAST(SUBSTRING(@EAN,4,1) AS INT)+CAST(SUBSTRING(@EAN,6,1) AS INT)+CAST(SUBSTRING(@EAN,8,1) AS INT)+CAST(SUBSTRING(@EAN,10,1) AS INT)+CAST(SUBSTRING(@EAN,12,1) AS INT)) AS INT  )*3

			SET @VERIF = 300 - (@PAR+@IMPAR)

			WHILE @VERIF >= 10
				SET @VERIF = @VERIF - 10

			/* VERIFICA SE O ÚLTIMO DIGITO, OU SE O EAN É NULO */
			IF((CAST(SUBSTRING(REPLACE(LTRIM(RTRIM(@EAN)),' ',''),13,1) AS INT) != @VERIF))
				SET @ERRO = 'ERRO - DIGITO'

			/* VERIFICA SE O ÚLTIMO DIGITO, OU SE O EAN É NULO */
			IF(@EAN IS NULL or @EAN = '')
				SET @ERRO = 'ERRO - EM BRANCO'
	END
	RETURN @ERRO
END
