USE [SANKHYA_PRODUCAO]
GO
/****** Object:  UserDefinedFunction [sankhya].[VERIFICA_KIT_OU_ITEM]    Script Date: 06/02/2018 16:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		RODRIGO LACALENDOLA
-- Create date: 2015-08-28
-- Description:	DADO UMA NOTA E UM CODPROD, VERIFICA SE É KIT
-- =============================================
ALTER FUNCTION [sankhya].[VERIFICA_KIT_OU_ITEM]
(
	-- Add the parameters for the function here
	@NUNOTA INT, @SEQUENCIA INT, @CODPROD INT
)
RETURNS CHAR(1)
AS
BEGIN

	-- VARIÁVEIS
	DECLARE @KITOUITEM CHAR(1), 
			@CODVOL CHAR(2)

	-- DECLARA AUTOMATICAMENTE QUE É UM ITEM
	SET @KITOUITEM = 'I'

	-- VERIFICA O CODVOL E O USOPROD NA TGFITE
	SELECT @CODVOL = CODVOL 
	FROM sankhya.TGFITE WITH (NOLOCK)
	WHERE NUNOTA = @NUNOTA 
	AND SEQUENCIA = @SEQUENCIA

	-- CASO SEJA KIT NA ITE, JÁ RETORNA O VALOR CORRETO
	-- OU VERIFICA SE É KIT NA ICP
	IF @CODVOL = 'KT'
	OR EXISTS(SELECT 1 FROM sankhya.TGFICP WITH (NOLOCK) WHERE CODPROD = @CODPROD)
		SET @KITOUITEM = 'K'

	-- RETORNA O CHAR K OU I
	RETURN @KITOUITEM

END
