USE [SANKHYA_PRODUCAO]
GO
/****** Object:  Trigger [sankhya].[TRG_INC_TGFACT_AD_PEDIDOVTEXSCFLUXO]    Script Date: 24/04/2018 18:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*	=============================================
	Author:			Guilherme Branco Stracini
	Create date:	2014-07-10
	Description:	Adiciona o fluxo/ocorrência I - Impressão de Pedido na tela de Fluxo de Pedido ou Fluxo de Reenvio
	============================================= */
ALTER TRIGGER [sankhya].[TRG_INC_TGFACT_AD_PEDIDOVTEXSCFLUXO]
   ON  [sankhya].[TGFACT] 
   AFTER INSERT
AS 
DECLARE 
@NUNOTA INT,
@SEQUENCIA INT,
@PEDORIGINAL INT,
@ORDERID VARCHAR(100),
@CODREENVIO INT,
@CODUSU INT,
@OCORRENCIA VARCHAR(100)
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	SELECT @NUNOTA = NUNOTA, @SEQUENCIA = SEQUENCIA, @CODUSU = CODUSU FROM INSERTED;
	SELECT @OCORRENCIA = CAST(OCORRENCIAS AS VARCHAR(1000)) FROM sankhya.TGFACT WHERE NUNOTA = @NUNOTA AND SEQUENCIA = @SEQUENCIA;
	IF @OCORRENCIA NOT LIKE 'IMPRESSÃO DE PEDIDO'
		RETURN;
	SELECT @PEDORIGINAL = PEDORIGINAL, @ORDERID = ORDERID FROM sankhya.AD_PEDIDOVTEXSCFLUXO WHERE NUNOTA = @NUNOTA;
	IF @PEDORIGINAL IS NOT NULL
	BEGIN
		IF EXISTS(SELECT 1 FROM sankhya.AD_PEDIDOVTEXSCFLUXO WHERE OCORRENCIA = 'I' AND NUNOTA = @NUNOTA AND PEDORIGINAl = @PEDORIGINAL AND ORDERID = @ORDERID)
		BEGIN
			UPDATE sankhya.AD_PEDIDOVTEXSCFLUXO SET DATA = GETDATE(), CODUSU = @CODUSU WHERE OCORRENCIA = 'I' AND NUNOTA = @NUNOTA AND PEDORIGINAl = @PEDORIGINAL AND ORDERID = @ORDERID;
		END
		ELSE
		BEGIN
			INSERT INTO sankhya.AD_PEDIDOVTEXSCFLUXO (DATA, NUNOTA, OCORRENCIA, CODUSU, ORDERID, PEDORIGINAL)
			VALUES (GETDATE(), @NUNOTA, 'I', @CODUSU, @ORDERID, @PEDORIGINAL);
		END
	END
	ELSE
	BEGIN
		SELECT @PEDORIGINAL = PEDORIGINAL, @ORDERID = ORDERID, @CODREENVIO = CODREENVIO FROM sankhya.AD_PEDIDOVTEXSCREENVIOFLUXO WHERE NUNOTA = @NUNOTA;
		IF @PEDORIGINAL IS NULL
			RETURN;
		IF EXISTS(SELECT 1 FROM sankhya.AD_PEDIDOVTEXSCREENVIOFLUXO WHERE OCORRENCIA = 'I' AND NUNOTA = @NUNOTA AND PEDORIGINAl = @PEDORIGINAL AND ORDERID = @ORDERID AND CODREENVIO = @CODREENVIO)
		BEGIN
			UPDATE sankhya.AD_PEDIDOVTEXSCREENVIOFLUXO SET DATA = GETDATE(), CODUSU = @CODUSU WHERE OCORRENCIA = 'I' AND NUNOTA = @NUNOTA AND PEDORIGINAl = @PEDORIGINAL AND ORDERID = @ORDERID AND CODREENVIO = @CODREENVIO;
		END
		ELSE
		BEGIN
			INSERT INTO sankhya.AD_PEDIDOVTEXSCREENVIOFLUXO (DATA, NUNOTA, OCORRENCIA, CODUSU, CODREENVIO, ORDERID, PEDORIGINAL)
			VALUES (GETDATE(), @NUNOTA, 'I', @CODUSU, @CODREENVIO, @ORDERID, @PEDORIGINAL);
		END
	END	
END
