USE [SANKHYA_PRODUCAO]
GO
/****** Object:  StoredProcedure [sankhya].[STP_CORRIGE_IMP_FCP]    Script Date: 06/12/2016 16:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rodrigo Lacalendola
-- Create date: 2016-07-29
-- Description:	Corrige os itens que não tem inserção na DIN com o fundo de combate a probreza
-- =============================================

ALTER PROCEDURE [sankhya].[STP_CORRIGE_IMP_FCP] (
       @P_CODUSU INT,                -- Código do usuário logado
       @P_IDSESSAO VARCHAR(4000),    -- Identificador da execução. Serve para buscar informações dos parâmetros/campos da execução.
       @P_QTDLINHAS INT,             -- Informa a quantidade de registros selecionados no momento da execução.
       @P_MENSAGEM VARCHAR(4000) OUT -- Caso seja passada uma mensagem aqui, ela será exibida como uma informação ao usuário.
) AS
DECLARE
       @NUNOTA INT,
	   @SEQUENCIAOK INT,
	   @RETORNO INT,
	   @MAXSEQUENCIA INT,
	   @AD_BONIFICADO CHAR(1),
	   @VLRNOTA FLOAT
BEGIN

	-- Obtem o NUNOTA da nota selecionada no portal */
	SET @NUNOTA = SANKHYA.ACT_INT_FIELD(@P_IDSESSAO, 1, 'NUNOTA')

	--VERIFICA SE JÁ EXISTE A SEQUENCIA EM QUESTÃO INSERIDA
	SET @SEQUENCIAOK = (select COUNT(DIN.SEQUENCIA) from sankhya.TGFDIN DIN with(nolock)
	INNER JOIN sankhya.TGFCAB CAB WITH(NOLOCK) ON DIN.NUNOTA = CAB.NUNOTA AND CAB.NUNOTA = @nunota
	INNER JOIN sankhya.TGFPAR PAR WITH(NOLOCK) ON PAR.CODPARC = CAB.CODPARC
	INNER JOIN sankhya.TGFITE ITE WITH(NOLOCK) ON ITE.NUNOTA = CAB.NUNOTA and ite.codtrib = 60 and ite.sequencia = din.SEQUENCIA
	INNER JOIN sankhya.TGFPRO PRO WITH(NOLOCK) ON PRO.CODPROD = ITE.CODPROD
	INNER JOIN sankhya.TSICID CID WITH(NOLOCK) ON CID.CODCID = PAR.CODCID
	INNER JOIN sankhya.TSIUFS UF WITH(NOLOCK) ON UF.CODUF = CID.UF
	INNER JOIN sankhya.TGFICM ICMS WITH(NOLOCK) ON ICMS.UFDEST = UF.CODUF AND ICMS.UFORIG = 1 AND ITE.CODTRIB = ICMS.CODTRIB AND PRO.GRUPOICMS = ICMS.CODRESTRICAO2
	WHERE DIN.NUNOTA = @nunota AND CODIMP = 1 AND CODINC = 1)

	SET @MAXSEQUENCIA = (SELECT COUNT(SEQUENCIA) FROM sankhya.TGFITE WHERE NUNOTA = @NUNOTA AND CODTRIB = 60)

	-- VERIFICA DADOS PARA BONIFICADO
	SELECT @AD_BONIFICADO = AD_BONIFICADO, @VLRNOTA = VLRNOTA FROM sankhya.TGFCAB WHERE NUNOTA = @NUNOTA

	-- DECLARA AS VARIÁVEIS QUE SERÃO USADAS POSTERIORMENTE
	DECLARE @SEQUENCIA INT, @BASE FLOAT, @ALIQUOTA INT, @ALIQINTDEST INT, @PERCPARTDIFAL INT, @VLRDIFALDEST FLOAT, @VLRDIFALREM FLOAT, @PERCFCP INT, @VLRFCP FLOAT, @VLRFCPCAB FLOAT


	-- CASO NÃO ESTEJA INSERIDO TODOS OS ITENS QUE TEM ST NA DIN, PROSSEGUE NA INSERÇÃO
	IF (@SEQUENCIAOK != @MAXSEQUENCIA)
	BEGIN
				
			
			-- ABRE UM CURSOR PARA PERCORRER CADA ITEM QUE PRECISA DE CORREÇÃO
			DECLARE ST CURSOR FOR
			select SEQUENCIA from sankhya.TGFITE ITE WITH(NOLOCK)
			WHERE NUNOTA = @NUNOTA AND CODTRIB = 60 AND SEQUENCIA NOT IN (
			SELECT SEQUENCIA FROM sankhya.TGFDIN WHERE NUNOTA = @NUNOTA AND CODIMP = 1 AND CODTRIB = 60)
			OPEN ST
			FETCH NEXT FROM ST INTO @SEQUENCIAOK

			WHILE @@FETCH_STATUS = 0
			BEGIN
					--	OBTEM O VALOR DO DIFAL ATUAL
					SELECT TOP 1 @PERCPARTDIFAL = PERCPARTDIFAL FROM sankhya.TGFPDI
					WHERE DATEPART(YEAR, DTINICIO) = DATEPART(YEAR,GETDATE())
	
					-- OBTEM TODOS OS DADOS QUE TEM VARIAÇÃO PARA FAZER O INSERT
					SELECT
					@SEQUENCIA = ITE.SEQUENCIA,
					@BASE = VLRTOT,
					@ALIQUOTA = ICMS.ALIQUOTA,
					@ALIQINTDEST = ICMS.ALIQINTDEST,
					@VLRDIFALDEST = (VLRTOT*((ICMS.ALIQINTDEST-ICMS.ALIQUOTA)/100.00))*(@PERCPARTDIFAL/100.00),
					@VLRDIFALREM =  (VLRTOT*((ICMS.ALIQINTDEST-ICMS.ALIQUOTA)/100.00))*(1-(@PERCPARTDIFAL/100.00)),
					@PERCFCP = ICMS.PERCICMSFCP,
					@VLRFCP = (VLRTOT*(ICMS.PERCICMSFCP/100.00))
					FROM sankhya.TGFCAB CAB WITH(NOLOCK) 
					INNER JOIN sankhya.TGFPAR PAR WITH(NOLOCK) ON PAR.CODPARC = CAB.CODPARC
					INNER JOIN sankhya.TGFITE ITE WITH(NOLOCK) ON ITE.NUNOTA = CAB.NUNOTA and ite.codtrib = 60
					INNER JOIN sankhya.TGFPRO PRO WITH(NOLOCK) ON PRO.CODPROD = ITE.CODPROD
					INNER JOIN sankhya.TSICID CID WITH(NOLOCK) ON CID.CODCID = PAR.CODCID
					INNER JOIN sankhya.TSIUFS UF WITH(NOLOCK) ON UF.CODUF = CID.UF
					INNER JOIN sankhya.TGFICM ICMS WITH(NOLOCK) ON ICMS.UFDEST = UF.CODUF AND ICMS.UFORIG = 1 AND ITE.CODTRIB = ICMS.CODTRIB AND PRO.GRUPOICMS = ICMS.CODRESTRICAO2
					WHERE CAB.NUNOTA = @nunota

					-- INSERT DO ITEM NA ICP PARA ACRESCENTAR O VALOR DO FUNDO DE COMBATE A PROBREZA (FCP)
					/* */    INSERT INTO sankhya.TGFDIN
					/*1*/	(NUNOTA, SEQUENCIA, CODIMP, CODINC,
					/*2*/	 BASE, BASERED, VLRREPRED, PAUTA,
					/*3*/	 ALIQUOTA, VALOR, TIPO, VLRCRED,
					/*4*/	 CST, RETEMFIN, PERCVLR, COMIVA, IVA,
					/*5*/	 CODUSU, DHALTER, DIGITADO, 
					/*6*/	 PERCREDBASE, ALIQINTDEST,
					/*7*/	 PERCPARTDIFAL, VLRDIFALDEST, VLRDIFALREM,
					/*8*/	 PERCFCP, VLRFCP)
							 VALUES
					/*1*/	(@NUNOTA, @SEQUENCIA, 1, 1,
					/*2*/	 @BASE, 0, 0, 0,
					/*3*/	 @ALIQUOTA, 0, 0, 0,
					/*4*/	 0, 'N', 'P', 'N', 0,
					/*5*/	 0, GETDATE(), 'N', 
					/*6*/	 100, @ALIQINTDEST,
					/*7*/	 @PERCPARTDIFAL, @VLRDIFALDEST, @VLRDIFALREM,
					/*8*/	 @PERCFCP, @VLRFCP)
		
			
			-- PROXIMO ITEM DO CURSOR
			FETCH NEXT FROM ST INTO @SEQUENCIAOK
			END
			-- FECHA O CURSOR
			CLOSE ST
			DEALLOCATE ST

			-- OBTEM O TOTAL DE FCP PARA SUBSTITUIR NA CAB
			SELECT @VLRFCPCAB = SUM(VLRFCP) FROM sankhya.TGFDIN WHERE NUNOTA = @NUNOTA AND CODIMP = 1

			-- DEPOIS DO INSERT ALTERAR O CAMPO FCP DA CAB
			UPDATE sankhya.TGFCAB SET VLRICMSFCP = @VLRFCPCAB WHERE NUNOTA = @nunota

	END


	-- SE TODOS OS ITENS JÁ ESTÃO INSERIDOS, É ALTERADO APENAS O FUNDO DE COMBATE À POBREZA DELES
	ELSE
	BEGIN
			
			-- ABRE UM CURSOR PARA PERCORRER CADA ITEM QUE PRECISA DE CORREÇÃO
			DECLARE STUPD CURSOR FOR
			select SEQUENCIA from sankhya.TGFITE ITE WITH(NOLOCK)
			WHERE NUNOTA = @nunota AND CODTRIB = 60 AND SEQUENCIA NOT IN (
			SELECT SEQUENCIA FROM sankhya.TGFDIN WHERE NUNOTA = @nunota AND CODIMP = 1 AND CODINC = 1 AND VLRFCP > 0 AND CODTRIB = 60)
			OPEN STUPD
			FETCH NEXT FROM STUPD INTO @SEQUENCIAOK

			WHILE @@FETCH_STATUS = 0
			BEGIN
					--	OBTEM O VALOR DO DIFAL ATUAL
					SELECT TOP 1 @PERCPARTDIFAL = PERCPARTDIFAL FROM sankhya.TGFPDI
					WHERE DATEPART(YEAR, DTINICIO) = DATEPART(YEAR,GETDATE())
	
					-- OBTEM TODOS OS DADOS QUE TEM VARIAÇÃO PARA FAZER O INSERT
					SELECT
					@SEQUENCIA = ITE.SEQUENCIA,
					@BASE = VLRTOT,
					@ALIQUOTA = ICMS.ALIQUOTA,
					@ALIQINTDEST = ICMS.ALIQINTDEST,
					@VLRDIFALDEST = (VLRTOT*((ICMS.ALIQINTDEST-ICMS.ALIQUOTA)/100.00))*(@PERCPARTDIFAL/100.00),
					@VLRDIFALREM =  (VLRTOT*((ICMS.ALIQINTDEST-ICMS.ALIQUOTA)/100.00))*(1-(@PERCPARTDIFAL/100.00)),
					@PERCFCP = ICMS.PERCICMSFCP,
					@VLRFCP = (VLRTOT*(ICMS.PERCICMSFCP/100.00))
					FROM sankhya.TGFCAB CAB WITH(NOLOCK) 
					INNER JOIN sankhya.TGFPAR PAR WITH(NOLOCK) ON PAR.CODPARC = CAB.CODPARC
					INNER JOIN sankhya.TGFITE ITE WITH(NOLOCK) ON ITE.NUNOTA = CAB.NUNOTA and ite.codtrib = 60
					INNER JOIN sankhya.TGFPRO PRO WITH(NOLOCK) ON PRO.CODPROD = ITE.CODPROD
					INNER JOIN sankhya.TSICID CID WITH(NOLOCK) ON CID.CODCID = PAR.CODCID
					INNER JOIN sankhya.TSIUFS UF WITH(NOLOCK) ON UF.CODUF = CID.UF
					INNER JOIN sankhya.TGFICM ICMS WITH(NOLOCK) ON ICMS.UFDEST = UF.CODUF AND ICMS.UFORIG = 1 AND ITE.CODTRIB = ICMS.CODTRIB AND PRO.GRUPOICMS = ICMS.CODRESTRICAO2
					WHERE CAB.NUNOTA = @nunota

					-- REALIZA O UPDATE NA SEQUENCIA INDICADA COM O VALOR CORRETO DO FCP
					UPDATE sankhya.TGFDIN set PERCFCP = @PERCFCP, VLRFCP = @VLRFCP WHERE NUNOTA = @NUNOTA AND SEQUENCIA = @SEQUENCIA AND CODIMP = 1


				
			-- PROXIMO ITEM DO CURSOR
			FETCH NEXT FROM STUPD INTO @SEQUENCIAOK
			END
			-- FECHA O CURSOR
			CLOSE STUPD
			DEALLOCATE STUPD


			-- OBTEM O TOTAL DE FCP PARA SUBSTITUIR NA CAB
			SELECT @VLRFCPCAB = SUM(VLRFCP) FROM sankhya.TGFDIN WHERE NUNOTA = @NUNOTA AND CODIMP = 1

			-- DEPOIS DO INSERT ALTERAR O CAMPO FCP DA CAB
			UPDATE sankhya.TGFCAB SET VLRICMSFCP = @VLRFCPCAB WHERE NUNOTA = @nunota

	END


	
	/* VERIFICA CASO ESPECÍFICO DE REENVIO (BONIFICADO) */
	IF (@AD_BONIFICADO = 'S' AND @VLRNOTA = 0)
	BEGIN


		/* 5. corrige os valores para ficar tudo zerado */
		UPDATE DIN SET VLRCRED=0,VLRDIFALDEST = 0,VLRDIFALREM=0,VLRFCP=0, PERCFCP=0, PERCPARTDIFAL=0, ALIQINTDEST=0, VALOR=0 FROM sankhya.TGFDIN DIN
		INNER JOIN sankhya.TGFCAB CAB ON CAB.NUNOTA = DIN.NUNOTA
		WHERE DIN.NUNOTA = @nunota AND CAB.AD_BONIFICADO = 'S' AND VLRNOTA = 0
		UPDATE sankhya.TGFCAB SET VLRICMSFCP = 0, VLRICMSDIFALDEST=0, VLRICMSDIFALREM=0,BASEICMS=0,VLRICMS=0 WHERE NUNOTA = @NUNOTA AND AD_BONIFICADO = 'S' AND VLRNOTA = 0




	END


SET @RETORNO = 0
SET @P_MENSAGEM = 'Rotina executada com sucesso. Favor gerar o lote da NFe.'
END
