SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [sankhya].[STP_PRECKIT_RECALCULO] (
       @P_CODUSU INT,                -- Código do usuário logado
       @P_IDSESSAO VARCHAR(4000),    -- Identificador da execução. Serve para buscar informações dos parâmetros/campos da execução.
       @P_QTDLINHAS INT,			 -- Informa a quantidade de registros selecionados no momento da execução.
       @P_MENSAGEM VARCHAR(4000) OUT -- Caso seja passada uma mensagem aqui, ela será exibida como uma informação ao usuário.
) AS
DECLARE
		@FIELD_CODPROD INT,
		@I INT,
		@PVCK FLOAT,--NUMERIC(15,2),
		@PVCKA FLOAT,--NUMERIC(15,2),
		@PVCKNA FLOAT,--NUMERIC(15,2),
		@PVI FLOAT,---NUMERIC(15,2),
		@FATOR	 FLOAT,--NUMERIC(15,4),
		@CUSREP	NUMERIC(15,4),
		@MARKUP NUMERIC(15,2),
		@TMP_CODMATPRIMA INT,
		@RECARRED FLOAT,
		@CODKIT INT,
		@RESULTADO NUMERIC(15, 2)
BEGIN	
	SET @I = 1 -- A variável "I" representa o registro corrente.
	WHILE @I <= @P_QTDLINHAS -- Este loop permite obter o valor de campos dos registros envolvidos na execução.
    BEGIN
		SET @FIELD_CODPROD = SANKHYA.ACT_INT_FIELD(@P_IDSESSAO, @I, 'CODPROD');
		SET @CODKIT = SANKHYA.ACT_INT_FIELD(@P_IDSESSAO, @I, 'CODPRODKIT');

		SELECT	@PVCK =		SUM(PRECOVENDA),
				@CUSREP =	SUM(ISNULL(CUSREP, 0))
		FROM AD_DETPRECKIT WITH (NOLOCK)
		WHERE CODPROD = @FIELD_CODPROD;

		SELECT @PVI = ISNULL(PRECOVENDA2, 0)
		FROM AD_PRECKIT WITH (NOLOCK)
		WHERE CODPROD = @FIELD_CODPROD;

		SELECT @PVCKA = ISNULL(SUM(PRECOVENDA), 0)
		FROM AD_DETPRECKIT WITH (NOLOCK)
		WHERE CODPROD = @FIELD_CODPROD
		AND BRINDE = 'N'
		AND TRAVADO = 'N'
		AND VLRFIXO = 0;

		SELECT @PVCKNA = ISNULL(SUM(CASE WHEN BRINDE = 'S' OR TRAVADO = 'S' THEN CUSREP ELSE VLRFIXO END), 0)
		FROM AD_DETPRECKIT WITH (NOLOCK)
		WHERE CODPROD = @FIELD_CODPROD
		AND VLRFIXO > 0;

		SET @FATOR = (@PVI - @PVCKNA) / @PVCKA;
		
		UPDATE AD_DETPRECKIT 
		SET RESULTADO = 
			CASE 
				WHEN BRINDE = 'S'  THEN CUSREP	
				WHEN TRAVADO = 'S' THEN PRECOVENDA
				WHEN VLRFIXO > 0 THEN VLRFIXO
				ELSE ROUND(PRECOVENDA * @FATOR, 2) 
			END										 					 									
		WHERE CODPROD = @FIELD_CODPROD;
		
		SELECT @RECARRED = SUM(RESULTADO)
		FROM AD_DETPRECKIT WITH (NOLOCK)
		WHERE CODPROD = @FIELD_CODPROD 
		AND BRINDE <> 'S';
		-- AND TRAVADO <> 'S'
		--AND VLRFIXO = 0;
		
		SELECT TOP 1 @TMP_CODMATPRIMA = CODPRODKIT
		FROM AD_DETPRECKIT WITH (NOLOCK)
		WHERE CODPROD = @FIELD_CODPROD
		AND BRINDE <> 'S'
		AND TRAVADO <> 'S'
		AND VLRFIXO = 0;

		IF ROUND(@RECARRED, 2) - @PVI > 0 
		OR ROUND(@RECARRED, 2) - @PVI < 0
			UPDATE AD_DETPRECKIT 
			SET RESULTADO = RESULTADO - (ROUND(@RECARRED, 2) - @PVI)  
			WHERE CODPROD = @FIELD_CODPROD 
			AND CODPRODKIT = @TMP_CODMATPRIMA;
			
		SELECT @RESULTADO = SUM(CASE WHEN BRINDE = 'S' THEN 0 ELSE RESULTADO END)
		FROM AD_DETPRECKIT WITH (NOLOCK)
		WHERE CODPROD = @FIELD_CODPROD;

		IF @CUSREP > 0
			SELECT @MARKUP = ROUND(@RESULTADO, 2) / @CUSREP
			FROM AD_DETPRECKIT WITH (NOLOCK)
			WHERE CODPROD = @FIELD_CODPROD
		ELSE
			SET @MARKUP = 0;

		UPDATE AD_PRECKIT
		SET MARKUP = @MARKUP, TOTALRESULT = @RESULTADO, MARGEMCONTRIB = ROUND(@RESULTADO - @CUSREP, 2)
		WHERE CODPROD = @FIELD_CODPROD;
			
		SET @I = @I + 1
	END
	--EXECUTE STP_UPD_IMPOSTOS_PRECKIT @CODKIT	
END