USE [SANKHYA_PRODUCAO]
GO
/****** Object:  StoredProcedure [sankhya].[STP_PRECKIT_CARREGAR_GRADE]    Script Date: 29/08/2018 12:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [sankhya].[STP_PRECKIT_CARREGAR_GRADE] (
       @P_CODUSU INT,                -- Código do usuário logado
       @P_IDSESSAO VARCHAR(4000),    -- Identificador da execução. Serve para buscar informações dos parâmetros/campos da execução.
       @P_QTDLINHAS INT,             -- Informa a quantidade de registros selecionados no momento da execução.
       @P_MENSAGEM VARCHAR(4000) OUT -- Caso seja passada uma mensagem aqui, ela será exibida como uma informação ao usuário.
) AS
DECLARE 
       @FIELD_CODPROD INT,
       @I INT,
       @PESOBRUTO NUMERIC(15,2),
	   @PRECOVENDA NUMERIC(15,2),
	   @CUSREP NUMERIC(15,2),
	   @MARKUP NUMERIC(15,2),
	   @TOTALRESULT NUMERIC(15,2),
	   @PRECOVENDA2 NUMERIC(15,2)
BEGIN
	
	SET @I = 1;
	WHILE @I <= @P_QTDLINHAS
	BEGIN
		SET @FIELD_CODPROD = SANKHYA.ACT_INT_FIELD(@P_IDSESSAO, @I, 'CODPROD');

		DELETE FROM AD_DETPRECKIT WHERE CODPROD = @FIELD_CODPROD;
		INSERT INTO AD_DETPRECKIT 
		(CODPROD, ID, CODPRODKIT, QUANTIDADE, CUSREP, BRINDE,  PESOBRUTO, ESTOQUE, VLR_VENDA, TRAVADO, VOLUME, PRECOVENDA, RESULTADO, VLRFIXO, VLRICMS, VLRPIS, VLRCOFINS, VLRDEDUCOES)
		SELECT   
			  PRO.CODPROD,
			  ICP.SEQUENCIA,
			  PROI.CODPROD,  
			  ISNULL(ICP.QTDMISTURA, 0),
			  CAST((sankhya.PRECODECUSTO(ICP.CODMATPRIMA,ICP.CODVOL) * ICP.QTDMISTURA) AS NUMERIC(10, 2)),			    
			  ICP.AD_BRINDE,  
			  (PROI.PESOBRUTO * ICP.QTDMISTURA),  
			  ISNULL(EST.ESTOQUE, 0),
			  CASE WHEN ICP.AD_BRINDE = 'S' THEN ISNULL(CUS.CUSREP, 0) ELSE ISNULL(ICP.AD_VLRVENDA,0) END,
			  ICP.AD_TRAVADO,
			  VOL.DESCRVOL,
			  CAST((sankhya.PRECODEVENDA(ICP.CODMATPRIMA, ICP.CODVOL) * ICP.QTDMISTURA) AS NUMERIC(10, 2)),			
			  0, 0, 0, 0, 0, 0
		FROM TGFPRO AS PRO WITH (NOLOCK) 
		LEFT JOIN TGFICP AS ICP WITH (NOLOCK)
		ON PRO.CODPROD = ICP.CODPROD  
		LEFT JOIN TGFPRO AS PROI WITH (NOLOCK)
		ON ICP.CODMATPRIMA = PROI.CODPROD  
		LEFT JOIN TGFEST AS EST WITH (NOLOCK)
		ON PROI.CODPROD = EST.CODPROD AND EST.CODEMP = 1
		LEFT JOIN TGFVOL AS VOL WITH (NOLOCK)
		ON PROI.CODVOL = VOL.CODVOL
		LEFT JOIN TGFEXC AS EXC WITH (NOLOCK)
		ON PROI.CODPROD = EXC.CODPROD 
		AND NUTAB = (SELECT MAX(E.NUTAB) 
					 FROM TGFEXC AS E 
					 WITH (NOLOCK) 
					 INNER JOIN TGFTAB AS T WITH (NOLOCK) 
					 ON T.NUTAB = E.NUTAB
					 WHERE E.CODPROD = PROI.CODPROD 
					 AND T.CODTAB = 0)
		LEFT JOIN TGFCUS AS CUS WITH (NOLOCK)
		ON PROI.CODPROD = CUS.CODPROD 
		AND DTATUAL = (SELECT MAX(DTATUAL) FROM TGFCUS WITH (NOLOCK) WHERE CODPROD = PROI.CODPROD)
		LEFT JOIN TGFVOA AS VOA WITH (NOLOCK) 
		ON PROI.CODPROD = VOA.CODPROD 
		AND VOA.CODVOL = ICP.CODVOL
		WHERE ICP.CODPROD = @FIELD_CODPROD;
		
		SET @PRECOVENDA2 = ISNULL((SELECT PRECOVENDA2 FROM sankhya.AD_PRECKIT WHERE CODPROD = @FIELD_CODPROD),0)


		SELECT	@PESOBRUTO =	SUM(PESOBRUTO),
				@PRECOVENDA =	SUM(CASE WHEN BRINDE = 'S' THEN 0 ELSE PRECOVENDA END),
				@CUSREP =		SUM(ISNULL(CUSREP, 0))
		FROM AD_DETPRECKIT WITH (NOLOCK)
		WHERE CODPROD = @FIELD_CODPROD;
		
		SET @MARKUP = 0;

		IF @CUSREP > 0
		BEGIN 
			SELECT @TOTALRESULT = ISNULL(TOTALRESULT, 0) FROM AD_PRECKIT WHERE CODPROD = @FIELD_CODPROD;
			SET @MARKUP = @PRECOVENDA2 / @CUSREP
			
			
			--ISNULL(@PRECOVENDA,0) / @CUSREP;
		END
		
		UPDATE AD_PRECKIT  
		SET PESO =			@PESOBRUTO,
			PRECOVENDA =	@PRECOVENDA,
			MARKUP =		@MARKUP,
			CUSTREP =		@CUSREP,
			MARGEMCONTRIB =	@PRECOVENDA2 - @CUSREP								
		WHERE CODPROD = @FIELD_CODPROD;
		
		SET @I = @I + 1;
	END
END